<?xml version="1.0" encoding="utf-8"?>
<Content Key="124277f8-5ae1-4bd6-ab03-6b753557c47d" Alias="soft-good-type-surgical-sponge" Level="5">
  <Info>
    <Parent Key="051034cf-a80e-4e5f-8870-2d0a26e57212">soft-good-type</Parent>
    <Path>/Home/Config/LookupItems/soft-good-type/soft-good-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Surgical sponge" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>