<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa7fb3f3-febf-446c-8c22-de336caf9adc" Alias="electronic-communication-subcategory-double-checks-or-alerts-missing-or-ineffective-eg-contraindications-allergy-alerts-verifications-confirmations" Level="5">
  <Info>
    <Parent Key="6ae227a2-4990-4b1e-814e-82705dbe87a1">electronic-communication-subcategory</Parent>
    <Path>/Home/Config/LookupItems/electronic-communication-subcategory/electronic-communication-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Double-checks or alerts missing or ineffective (e.g., contraindications, allergy alerts, verifications/confirmations)" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[26]]></lookupValue>
  </Properties>
</Content>