<?xml version="1.0" encoding="utf-8"?>
<Content Key="1308def3-5e94-48f6-8821-6dab6f8cebe6" Alias="electronic-communication-subcategory-drop-down-field-selection-error" Level="5">
  <Info>
    <Parent Key="6ae227a2-4990-4b1e-814e-82705dbe87a1">electronic-communication-subcategory</Parent>
    <Path>/Home/Config/LookupItems/electronic-communication-subcategory/electronic-communication-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Drop down/field selection error" />
    <SortOrder>22</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>22</Value></lookupValue>
  </Properties>
</Content>