<?xml version="1.0" encoding="utf-8"?>
<Content Key="492e3056-8370-46dc-ae82-a44649ac160f" Alias="electronic-communication-subcategory-inability-of-ehr-modules-to-interface-transfer-information" Level="5">
  <Info>
    <Parent Key="6ae227a2-4990-4b1e-814e-82705dbe87a1">electronic-communication-subcategory</Parent>
    <Path>/Home/Config/LookupItems/electronic-communication-subcategory/electronic-communication-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Inability of EHR modules to interface/transfer information" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[24]]></lookupValue>
  </Properties>
</Content>