<?xml version="1.0" encoding="utf-8"?>
<Content Key="648275ff-763f-4c7a-95bb-6ac5c9f97124" Alias="electronic-communication-subcategory-information-was-not-acted-upon" Level="5">
  <Info>
    <Parent Key="6ae227a2-4990-4b1e-814e-82705dbe87a1">electronic-communication-subcategory</Parent>
    <Path>/Home/Config/LookupItems/electronic-communication-subcategory/electronic-communication-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Information was not acted upon" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[27]]></Value></lookupValue>
  </Properties>
</Content>