<?xml version="1.0" encoding="utf-8"?>
<Content Key="9da170ce-a38c-457f-8a11-6729c8820a5c" Alias="electronic-communication-subcategory-other" Level="5">
  <Info>
    <Parent Key="6ae227a2-4990-4b1e-814e-82705dbe87a1">electronic-communication-subcategory</Parent>
    <Path>/Home/Config/LookupItems/electronic-communication-subcategory/electronic-communication-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[28]]></lookupValue>
  </Properties>
</Content>