<?xml version="1.0" encoding="utf-8"?>
<Content Key="215b08c8-e716-43b8-a618-85f492036b6f" Alias="root-cause-category-electronic-communication-information" Level="5">
  <Info>
    <Parent Key="4d5e04e7-9f1e-468b-80db-291378f98188">root-cause-category</Parent>
    <Path>/Home/Config/LookupItems/root-cause-category/root-cause-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Electronic Communication / Information" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>7</Value></lookupValue>
  </Properties>
</Content>