<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8dd2748-6099-4d08-bf5f-2d8d04f496c6" Alias="root-cause-category-human-factors" Level="5">
  <Info>
    <Parent Key="4d5e04e7-9f1e-468b-80db-291378f98188">root-cause-category</Parent>
    <Path>/Home/Config/LookupItems/root-cause-category/root-cause-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Human Factors" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>3</Value></lookupValue>
  </Properties>
</Content>