<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d42db61-1739-4391-9c90-258c3cbede91" Alias="root-cause-category-physical-environment-and-products-equipment" Level="5">
  <Info>
    <Parent Key="4d5e04e7-9f1e-468b-80db-291378f98188">root-cause-category</Parent>
    <Path>/Home/Config/LookupItems/root-cause-category/root-cause-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Physical Environment & Products / Equipment" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[4]]></lookupValue>
  </Properties>
</Content>