<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7e2503d-bd2d-4fda-a1ee-a9395cfdea5b" Alias="root-cause-category-rules-policies-procedures" Level="5">
  <Info>
    <Parent Key="4d5e04e7-9f1e-468b-80db-291378f98188">root-cause-category</Parent>
    <Path>/Home/Config/LookupItems/root-cause-category/root-cause-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Rules / Policies / Procedures" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[5]]></lookupValue>
  </Properties>
</Content>