<?xml version="1.0" encoding="utf-8"?>
<Content Key="308f2870-e633-40c9-9e97-f4a80f9a5117" Alias="root-cause-category-training-education" Level="5">
  <Info>
    <Parent Key="4d5e04e7-9f1e-468b-80db-291378f98188">root-cause-category</Parent>
    <Path>/Home/Config/LookupItems/root-cause-category/root-cause-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Training / Education" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[2]]></Value></lookupValue>
  </Properties>
</Content>