<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8c9d0e1-f2a3-4567-8901-234567hijklm" Alias="other" Level="5">
  <Info>
    <Parent Key="f8e9d7c6-b5a4-4321-9876-543210fedcba">abnormality-type</Parent>
    <Path>/Home/Config/LookupItems/abnormality-type/other</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-15T10:38:00</CreateDate>
    <NodeName Default="Other" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[8]]></Value>
    </lookupValue>
  </Properties>
</Content>

