<?xml version="1.0" encoding="utf-8"?>
<Content Key="63d35b22-71f4-409b-908b-4c410f9cb46f" Alias="retained-object-type-small-miscellaneous-items" Level="5">
  <Info>
    <Parent Key="e5343daa-7591-4654-b233-f26f2555beba">retained-object-type</Parent>
    <Path>/Home/Config/LookupItems/retained-object-type/retained-object-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Small Miscellaneous Items" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[5]]></Value></lookupValue>
  </Properties>
</Content>