<?xml version="1.0" encoding="utf-8"?>
<Content Key="f44bcb7d-e009-4bf9-89e1-b732927c8087" Alias="retained-object-type-soft-good" Level="5">
  <Info>
    <Parent Key="e5343daa-7591-4654-b233-f26f2555beba">retained-object-type</Parent>
    <Path>/Home/Config/LookupItems/retained-object-type/retained-object-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Soft Good" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[1]]></Value></lookupValue>
  </Properties>
</Content>