<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd22efe7-1e3f-4ef5-b60a-f10b0a8a2023" Alias="retained-object-type-unretrieved-device-fragment" Level="5">
  <Info>
    <Parent Key="e5343daa-7591-4654-b233-f26f2555beba">retained-object-type</Parent>
    <Path>/Home/Config/LookupItems/retained-object-type/retained-object-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Unretrieved Device Fragment" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[4]]></lookupValue>
  </Properties>
</Content>