<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa920bbf-5e35-4a99-b0c7-93a3f0a746f9" Alias="retained-object-type-whole-device-or-whole-instrument" Level="5">
  <Info>
    <Parent Key="e5343daa-7591-4654-b233-f26f2555beba">retained-object-type</Parent>
    <Path>/Home/Config/LookupItems/retained-object-type/retained-object-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Whole Device or Whole Instrument" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>2</Value></lookupValue>
  </Properties>
</Content>