<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f9e9259-40be-480a-8c39-95d2e0fdd242" Alias="rules-policies-procedures-subcategory-policy-process-not-in-place-in-organization-or-unit" Level="5">
  <Info>
    <Parent Key="08a42eb4-04ed-4f11-9b12-8001490c8c72">rules-policies-procedures-subcategory</Parent>
    <Path>/Home/Config/LookupItems/rules-policies-procedures-subcategory/rules-policies-procedures-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Policy/process not in place in organization or unit" />
    <SortOrder>43</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>43</Value></lookupValue>
  </Properties>
</Content>