<?xml version="1.0" encoding="utf-8"?>
<Content Key="08a42eb4-04ed-4f11-9b12-8001490c8c72" Alias="rules-policies-procedures-subcategory" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/rules-policies-procedures-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Rules Policies Procedures Subcategory" />
    <SortOrder>127</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>