<?xml version="1.0" encoding="utf-8"?>
<Content Key="d947a449-982e-4b9d-8c0a-8fad31658504" Alias="body-site-coccyx-and-sacrum" Level="5">
  <Info>
    <Parent Key="caa7692b-b904-4531-8189-b131d6dc4360">body-site</Parent>
    <Path>/Home/Config/LookupItems/body-site/body-site</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Coccyx and Sacrum" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[22]]></Value></lookupValue>
  </Properties>
</Content>