<?xml version="1.0" encoding="utf-8"?>
<Content Key="72763254-f2dd-4ff3-b393-c5dbd2ccaf1c" Alias="body-site-coccyx" Level="5">
  <Info>
    <Parent Key="caa7692b-b904-4531-8189-b131d6dc4360">body-site</Parent>
    <Path>/Home/Config/LookupItems/body-site/body-site</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Coccyx" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>18</Value></lookupValue>
  </Properties>
</Content>