<?xml version="1.0" encoding="utf-8"?>
<Content Key="78efeb5a-f018-4de1-ac2a-b49727742b4b" Alias="body-site-ear" Level="5">
  <Info>
    <Parent Key="caa7692b-b904-4531-8189-b131d6dc4360">body-site</Parent>
    <Path>/Home/Config/LookupItems/body-site/body-site</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Ear" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[23]]></lookupValue>
  </Properties>
</Content>