<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c9ae646-f273-4f16-9b36-3edbd1960b1a" Alias="body-site-heel-ankle-foot" Level="5">
  <Info>
    <Parent Key="caa7692b-b904-4531-8189-b131d6dc4360">body-site</Parent>
    <Path>/Home/Config/LookupItems/body-site/body-site</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Heel/Ankle/Foot" />
    <SortOrder>28</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>28</Value></lookupValue>
  </Properties>
</Content>