<?xml version="1.0" encoding="utf-8"?>
<Content Key="e873a0dc-dcdb-45d2-9b15-869cbce3ef70" Alias="body-site-other" Level="5">
  <Info>
    <Parent Key="caa7692b-b904-4531-8189-b131d6dc4360">body-site</Parent>
    <Path>/Home/Config/LookupItems/body-site/body-site</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>56</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>56</Value></lookupValue>
  </Properties>
</Content>