<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb3e0acf-d910-49d8-9ca6-06de45ff8be7" Alias="type-of-harm-attempted-suicide" Level="5">
  <Info>
    <Parent Key="30369262-38b7-4549-9917-f4a2f3e1b29d">type-of-harm</Parent>
    <Path>/Home/Config/LookupItems/type-of-harm/type-of-harm</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Attempted Suicide" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[2]]></lookupValue>
  </Properties>
</Content>