<?xml version="1.0" encoding="utf-8"?>
<Content Key="02cb80f9-5d83-449e-8d51-fd31d7b00daf" Alias="type-of-harm-other" Level="5">
  <Info>
    <Parent Key="30369262-38b7-4549-9917-f4a2f3e1b29d">type-of-harm</Parent>
    <Path>/Home/Config/LookupItems/type-of-harm/type-of-harm</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>4</Value></lookupValue>
  </Properties>
</Content>