<?xml version="1.0" encoding="utf-8"?>
<Content Key="146e61ee-740b-42be-b862-4637c1b556f1" Alias="type-of-harm-self-harm" Level="5">
  <Info>
    <Parent Key="30369262-38b7-4549-9917-f4a2f3e1b29d">type-of-harm</Parent>
    <Path>/Home/Config/LookupItems/type-of-harm/type-of-harm</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Self Harm" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[3]]></lookupValue>
  </Properties>
</Content>