<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ef2c3fe-ab17-456e-9c7a-6f5acd69bcf8" Alias="type-of-harm-suicide" Level="5">
  <Info>
    <Parent Key="30369262-38b7-4549-9917-f4a2f3e1b29d">type-of-harm</Parent>
    <Path>/Home/Config/LookupItems/type-of-harm/type-of-harm</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Suicide" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[1]]></Value></lookupValue>
  </Properties>
</Content>