<?xml version="1.0" encoding="utf-8"?>
<Content Key="30369262-38b7-4549-9917-f4a2f3e1b29d" Alias="type-of-harm" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/type-of-harm</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Type of Harm" />
    <SortOrder>121</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>