<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e6b60f7-196d-4c56-b5bc-ea2945623d8d" Alias="fall-prevention-measures" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/fall-prevention-measures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Fall Prevention Measures" />
    <SortOrder>109</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>