<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d9a0297-3b34-408e-87e2-2158896b71b4" Alias="fall-prevention-measures-floor-mat" Level="5">
  <Info>
    <Parent Key="2e6b60f7-196d-4c56-b5bc-ea2945623d8d">fall-prevention-measures</Parent>
    <Path>/Home/Config/LookupItems/fall-prevention-measures/fall-prevention-measures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Floor mat" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[3]]></lookupValue>
  </Properties>
</Content>