<?xml version="1.0" encoding="utf-8"?>
<Content Key="75a8315e-8be4-414d-9b60-723a881d596f" Alias="fall-prevention-measures-orthostatic-blood-pressures" Level="5">
  <Info>
    <Parent Key="2e6b60f7-196d-4c56-b5bc-ea2945623d8d">fall-prevention-measures</Parent>
    <Path>/Home/Config/LookupItems/fall-prevention-measures/fall-prevention-measures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Orthostatic blood pressures" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[9]]></Value></lookupValue>
  </Properties>
</Content>