<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb2b2341-d91e-431b-94b6-3c0474a16df5" Alias="fall-prevention-measures-other-prevention-measure" Level="5">
  <Info>
    <Parent Key="2e6b60f7-196d-4c56-b5bc-ea2945623d8d">fall-prevention-measures</Parent>
    <Path>/Home/Config/LookupItems/fall-prevention-measures/fall-prevention-measures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other prevention measure" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[18]]></Value></lookupValue>
  </Properties>
</Content>