<?xml version="1.0" encoding="utf-8"?>
<Content Key="8eb8f87c-1b4c-4fc6-bf28-e35c8cda66a0" Alias="fall-prevention-measures-other-types-of-positioning" Level="5">
  <Info>
    <Parent Key="2e6b60f7-196d-4c56-b5bc-ea2945623d8d">fall-prevention-measures</Parent>
    <Path>/Home/Config/LookupItems/fall-prevention-measures/fall-prevention-measures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other types of positioning" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>17</Value></lookupValue>
  </Properties>
</Content>