<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7f11b8c-02d9-4172-85d1-1596155303ab" Alias="fall-prevention-measures-patient-education-and-reminders-to-call-for-help-when-getting-up-moving" Level="5">
  <Info>
    <Parent Key="2e6b60f7-196d-4c56-b5bc-ea2945623d8d">fall-prevention-measures</Parent>
    <Path>/Home/Config/LookupItems/fall-prevention-measures/fall-prevention-measures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Patient education and reminders to call for help when getting up/moving" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>