<?xml version="1.0" encoding="utf-8"?>
<Content Key="b208d82a-e29f-4fec-aa70-fc19d76c7f9f" Alias="fall-prevention-measures-pharmacy-consult" Level="5">
  <Info>
    <Parent Key="2e6b60f7-196d-4c56-b5bc-ea2945623d8d">fall-prevention-measures</Parent>
    <Path>/Home/Config/LookupItems/fall-prevention-measures/fall-prevention-measures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Pharmacy consult" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[14]]></Value></lookupValue>
  </Properties>
</Content>