<?xml version="1.0" encoding="utf-8"?>
<Content Key="813092ed-064b-44a9-8880-a8244002280c" Alias="fall-prevention-measures-transfer-or-lift-equipment" Level="5">
  <Info>
    <Parent Key="2e6b60f7-196d-4c56-b5bc-ea2945623d8d">fall-prevention-measures</Parent>
    <Path>/Home/Config/LookupItems/fall-prevention-measures/fall-prevention-measures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Transfer or lift equipment" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[5]]></lookupValue>
  </Properties>
</Content>