<?xml version="1.0" encoding="utf-8"?>
<Content Key="1510b20d-1a2d-4326-a95d-f3368cfc9049" Alias="fall-prevention-measures-universal-fall-prevention-measures-ie-personal-items-within-reach-clutter-free-path-bed-in-low-position-bed-and-wheelchair-brakes-locked-etc" Level="5">
  <Info>
    <Parent Key="2e6b60f7-196d-4c56-b5bc-ea2945623d8d">fall-prevention-measures</Parent>
    <Path>/Home/Config/LookupItems/fall-prevention-measures/fall-prevention-measures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Universal Fall Prevention Measures (i.e. personal items within reach, clutter-free path, bed in low position, bed and wheelchair brakes locked, etc.)" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>16</Value></lookupValue>
  </Properties>
</Content>