<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b45bb78-ed24-4124-8815-1530f2c123fa" Alias="fall-prevention-measures-use-of-video-monitoring" Level="5">
  <Info>
    <Parent Key="2e6b60f7-196d-4c56-b5bc-ea2945623d8d">fall-prevention-measures</Parent>
    <Path>/Home/Config/LookupItems/fall-prevention-measures/fall-prevention-measures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Use of video monitoring" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>12</Value></lookupValue>
  </Properties>
</Content>