<?xml version="1.0" encoding="utf-8"?>
<Content Key="70055554-c7f7-423a-a4ab-425643c2d545" Alias="fall-prevention-measures-use-of-1-1-care-attendant" Level="5">
  <Info>
    <Parent Key="2e6b60f7-196d-4c56-b5bc-ea2945623d8d">fall-prevention-measures</Parent>
    <Path>/Home/Config/LookupItems/fall-prevention-measures/fall-prevention-measures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Use of 1:1 care attendant" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[13]]></lookupValue>
  </Properties>
</Content>