<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4e5f6a7-b8c9-0123-4567-890123defghi" Alias="fissure" Level="5">
  <Info>
    <Parent Key="f8e9d7c6-b5a4-4321-9876-543210fedcba">abnormality-type</Parent>
    <Path>/Home/Config/LookupItems/abnormality-type/fissure</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-15T10:34:00</CreateDate>
    <NodeName Default="Fissure" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[4]]></Value>
    </lookupValue>
  </Properties>
</Content>

