<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d2099d8-7c9c-400f-8f4a-4c2ad85b5e70" Alias="toileting-fall-location-bed-chair-urinal" Level="5">
  <Info>
    <Parent Key="47062b76-1f20-4575-94e0-b3869c4ac01c">toileting-fall-location</Parent>
    <Path>/Home/Config/LookupItems/toileting-fall-location/toileting-fall-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Bed/chair: urinal" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[3]]></Value></lookupValue>
  </Properties>
</Content>