<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cb0aa9e-e850-4004-9f1b-5de5b39b5a9e" Alias="toileting-fall-location-commode" Level="5">
  <Info>
    <Parent Key="47062b76-1f20-4575-94e0-b3869c4ac01c">toileting-fall-location</Parent>
    <Path>/Home/Config/LookupItems/toileting-fall-location/toileting-fall-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Commode" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[2]]></Value></lookupValue>
  </Properties>
</Content>