<?xml version="1.0" encoding="utf-8"?>
<Content Key="1442a398-fa85-4cbd-9116-a27edb481bc8" Alias="toileting-fall-location-other-please-describe" Level="5">
  <Info>
    <Parent Key="47062b76-1f20-4575-94e0-b3869c4ac01c">toileting-fall-location</Parent>
    <Path>/Home/Config/LookupItems/toileting-fall-location/toileting-fall-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other: please describe" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>5</Value></lookupValue>
  </Properties>
</Content>