<?xml version="1.0" encoding="utf-8"?>
<Content Key="58be695c-de31-4e50-a084-73c48310f36d" Alias="toileting-fall-location-walking-to-from-the-bathroom" Level="5">
  <Info>
    <Parent Key="47062b76-1f20-4575-94e0-b3869c4ac01c">toileting-fall-location</Parent>
    <Path>/Home/Config/LookupItems/toileting-fall-location/toileting-fall-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Walking to/from the bathroom" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>4</Value></lookupValue>
  </Properties>
</Content>