<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd5e3157-9d13-4d19-b0f1-6dd2a9e4d111" Alias="fall-location-between-bed-and-bathroom" Level="5">
  <Info>
    <Parent Key="0d5ab587-0e7b-4020-9e7a-1c3ea69a2a3c">fall-location</Parent>
    <Path>/Home/Config/LookupItems/fall-location/fall-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Between bed and bathroom" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[5]]></Value></lookupValue>
  </Properties>
</Content>