<?xml version="1.0" encoding="utf-8"?>
<Content Key="a79d726b-4e84-4907-a9d9-fa10675985ff" Alias="fall-location-from-cart-or-gurney" Level="5">
  <Info>
    <Parent Key="0d5ab587-0e7b-4020-9e7a-1c3ea69a2a3c">fall-location</Parent>
    <Path>/Home/Config/LookupItems/fall-location/fall-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="From cart or gurney" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>18</Value></lookupValue>
  </Properties>
</Content>