<?xml version="1.0" encoding="utf-8"?>
<Content Key="173f383a-1dc2-42fc-9ff8-59fed1196347" Alias="fall-location-from-bedside-commode" Level="5">
  <Info>
    <Parent Key="0d5ab587-0e7b-4020-9e7a-1c3ea69a2a3c">fall-location</Parent>
    <Path>/Home/Config/LookupItems/fall-location/fall-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="From bedside commode" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[17]]></lookupValue>
  </Properties>
</Content>