<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea1cc372-65bf-4045-9f74-743f22a569bb" Alias="fall-location-from-bed" Level="5">
  <Info>
    <Parent Key="0d5ab587-0e7b-4020-9e7a-1c3ea69a2a3c">fall-location</Parent>
    <Path>/Home/Config/LookupItems/fall-location/fall-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="From Bed" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>16</Value></lookupValue>
  </Properties>
</Content>