<?xml version="1.0" encoding="utf-8"?>
<Content Key="ece7d26d-4261-49a8-a8c6-1545d76934f7" Alias="fall-location-from-toilet" Level="5">
  <Info>
    <Parent Key="0d5ab587-0e7b-4020-9e7a-1c3ea69a2a3c">fall-location</Parent>
    <Path>/Home/Config/LookupItems/fall-location/fall-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="From toilet" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[20]]></lookupValue>
  </Properties>
</Content>