<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1fa9eb1-d01d-4c40-b01f-6c951a6691a3" Alias="fall-location-therapy-radiation-other-treatment" Level="5">
  <Info>
    <Parent Key="0d5ab587-0e7b-4020-9e7a-1c3ea69a2a3c">fall-location</Parent>
    <Path>/Home/Config/LookupItems/fall-location/fall-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Therapy/radiation/other treatment" />
    <SortOrder>46</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>46</Value></lookupValue>
  </Properties>
</Content>