<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcddc221-d674-47b8-9cae-28c64b9eb363" Alias="event-time-11pm---7am" Level="5">
  <Info>
    <Parent Key="93034def-dbff-434a-a221-98a5bb090b2d">event-time</Parent>
    <Path>/Home/Config/LookupItems/event-time</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="11PM - 7AM" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[3]]></Value></lookupValue>
  </Properties>
</Content>