<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1b6e0d0-41f1-4777-ae95-26945ac7d0de" Alias="event-time-3pm---11pm" Level="5">
  <Info>
    <Parent Key="93034def-dbff-434a-a221-98a5bb090b2d">event-time</Parent>
    <Path>/Home/Config/LookupItems/event-time</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="3PM - 11PM" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[2]]></lookupValue>
  </Properties>
</Content>