<?xml version="1.0" encoding="utf-8"?>
<Content Key="5677d333-9844-4555-ae63-b4c7cc83d01b" Alias="event-time-7am---3pm" Level="5">
  <Info>
    <Parent Key="93034def-dbff-434a-a221-98a5bb090b2d">event-time</Parent>
    <Path>/Home/Config/LookupItems/event-time</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="7AM - 3PM" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[1]]></Value></lookupValue>
  </Properties>
</Content>