<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8e9d7c6-b5a4-4321-9876-543210fedcba" Alias="abnormality-type" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/abnormality-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2024-01-15T10:30:00</CreateDate>
    <NodeName Default="Abnormality Type" />
  </Info>
  <Properties />
</Content>

