<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1b2c3d4-e5f6-7890-1234-567890abcdef" Alias="abrasion-friction" Level="5">
  <Info>
    <Parent Key="f8e9d7c6-b5a4-4321-9876-543210fedcba">abnormality-type</Parent>
    <Path>/Home/Config/LookupItems/abnormality-type/abrasion-friction</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-15T10:31:00</CreateDate>
    <NodeName Default="Abrasion/friction" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[1]]></Value>
    </lookupValue>
  </Properties>
</Content>

