<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6a7b8c9-d0e1-2345-6789-012345fghijk" Alias="pressure-injury" Level="5">
  <Info>
    <Parent Key="f8e9d7c6-b5a4-4321-9876-543210fedcba">abnormality-type</Parent>
    <Path>/Home/Config/LookupItems/abnormality-type/pressure-injury</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-15T10:36:00</CreateDate>
    <NodeName Default="Pressure injury" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[6]]></Value>
    </lookupValue>
  </Properties>
</Content>

