<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7b8c9d0-e1f2-3456-7890-123456ghijkl" Alias="skin-tear" Level="5">
  <Info>
    <Parent Key="f8e9d7c6-b5a4-4321-9876-543210fedcba">abnormality-type</Parent>
    <Path>/Home/Config/LookupItems/abnormality-type/skin-tear</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-15T10:37:00</CreateDate>
    <NodeName Default="Skin tear" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[7]]></Value>
    </lookupValue>
  </Properties>
</Content>

