<?xml version="1.0" encoding="utf-8"?>
<Content Key="51efede3-b05a-4b4e-8248-72bd3012fd48" Alias="human-factors-subcategory-fatigue" Level="5">
  <Info>
    <Parent Key="a432bda1-1bfb-4ead-af48-cebe19eb1723">human-factors-subcategory</Parent>
    <Path>/Home/Config/LookupItems/human-factors-subcategory/human-factors-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Fatigue" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[37]]></lookupValue>
  </Properties>
</Content>