<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf33f16c-9c38-413d-a750-62b42b47c728" Alias="human-factors-subcategory-interruptions-distractions" Level="5">
  <Info>
    <Parent Key="a432bda1-1bfb-4ead-af48-cebe19eb1723">human-factors-subcategory</Parent>
    <Path>/Home/Config/LookupItems/human-factors-subcategory/human-factors-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Interruptions/distractions" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[39]]></Value></lookupValue>
  </Properties>
</Content>