<?xml version="1.0" encoding="utf-8"?>
<Content Key="22de840d-fe04-4226-83c9-938ab8b1c12c" Alias="human-factors-subcategory-other" Level="5">
  <Info>
    <Parent Key="a432bda1-1bfb-4ead-af48-cebe19eb1723">human-factors-subcategory</Parent>
    <Path>/Home/Config/LookupItems/human-factors-subcategory/human-factors-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>41</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>41</Value></lookupValue>
  </Properties>
</Content>