<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4bdc23f-1fec-4508-9d98-9c10320238ed" Alias="human-factors-subcategory-staffing-eg-number-of-staff-mix-of-staff" Level="5">
  <Info>
    <Parent Key="a432bda1-1bfb-4ead-af48-cebe19eb1723">human-factors-subcategory</Parent>
    <Path>/Home/Config/LookupItems/human-factors-subcategory/human-factors-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Staffing (e.g., number of staff, mix of staff)" />
    <SortOrder>38</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>38</Value></lookupValue>
  </Properties>
</Content>