<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4786888-d8ec-4e75-9034-a057058cf8cf" Alias="specimen-contributing-factors-container-issue-eg-wrong-size-not-sealed-outer-bag-not-labeled" Level="5">
  <Info>
    <Parent Key="1582f513-50f2-4967-a78a-518297f19b4c">specimen-contributing-factors</Parent>
    <Path>/Home/Config/LookupItems/specimen-contributing-factors/specimen-contributing-factors</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Container issue (e.g., wrong size, not sealed, outer bag not labeled)" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[6]]></lookupValue>
  </Properties>
</Content>