<?xml version="1.0" encoding="utf-8"?>
<Content Key="76846df7-d084-4b79-8e2f-f96441edbd66" Alias="specimen-contributing-factors-incorrect-medium" Level="5">
  <Info>
    <Parent Key="1582f513-50f2-4967-a78a-518297f19b4c">specimen-contributing-factors</Parent>
    <Path>/Home/Config/LookupItems/specimen-contributing-factors/specimen-contributing-factors</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Incorrect medium" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[8]]></Value></lookupValue>
  </Properties>
</Content>