<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfeed6c9-d336-43cb-8ce6-28f103bddb1b" Alias="specimen-contributing-factors-label-error-eg-errors-on-physical-label" Level="5">
  <Info>
    <Parent Key="1582f513-50f2-4967-a78a-518297f19b4c">specimen-contributing-factors</Parent>
    <Path>/Home/Config/LookupItems/specimen-contributing-factors/specimen-contributing-factors</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Label error (e.g., errors on physical label)" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[2]]></lookupValue>
  </Properties>
</Content>