<?xml version="1.0" encoding="utf-8"?>
<Content Key="9fa570ee-70ea-46b2-9daf-3f45193b3902" Alias="specimen-contributing-factors-labeling-eg-incorrect-label-applied" Level="5">
  <Info>
    <Parent Key="1582f513-50f2-4967-a78a-518297f19b4c">specimen-contributing-factors</Parent>
    <Path>/Home/Config/LookupItems/specimen-contributing-factors/specimen-contributing-factors</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Labeling (e.g., incorrect label applied)" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>