<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fce67e8-42e0-47c9-9418-111e9538d655" Alias="specimen-contributing-factors-storage-on-and-off-the-sterile-field" Level="5">
  <Info>
    <Parent Key="1582f513-50f2-4967-a78a-518297f19b4c">specimen-contributing-factors</Parent>
    <Path>/Home/Config/LookupItems/specimen-contributing-factors/specimen-contributing-factors</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Storage (on and off the sterile field)" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[5]]></Value></lookupValue>
  </Properties>
</Content>