<?xml version="1.0" encoding="utf-8"?>
<Content Key="d86636da-808b-4813-8750-c7a3bd98863b" Alias="specimen-contributing-factors-transport" Level="5">
  <Info>
    <Parent Key="1582f513-50f2-4967-a78a-518297f19b4c">specimen-contributing-factors</Parent>
    <Path>/Home/Config/LookupItems/specimen-contributing-factors/specimen-contributing-factors</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Transport" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>4</Value></lookupValue>
  </Properties>
</Content>