<?xml version="1.0" encoding="utf-8"?>
<Content Key="b11d4d6d-0db8-494a-8ea9-8d36208281d3" Alias="device-category-compression-wrap-eg-ace-grip-stockings-lymphedema-wraps" Level="5">
  <Info>
    <Parent Key="cd8d7f50-2860-4bf4-a49d-11d435bf6001">device-category</Parent>
    <Path>/Home/Config/LookupItems/device-category/device-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Compression Wrap (e.g., ace grip, stockings, lymphedema wraps)" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[76]]></lookupValue>
  </Properties>
</Content>