<?xml version="1.0" encoding="utf-8"?>
<Content Key="8610ea6a-26c4-42d1-afab-d82659aa5046" Alias="device-category-enteric-tubes-eg-ng-j-tube-g-tube" Level="5">
  <Info>
    <Parent Key="cd8d7f50-2860-4bf4-a49d-11d435bf6001">device-category</Parent>
    <Path>/Home/Config/LookupItems/device-category/device-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Enteric tubes (e.g., NG, J-tube, G-tube)" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[71]]></Value></lookupValue>
  </Properties>
</Content>