<?xml version="1.0" encoding="utf-8"?>
<Content Key="4669a138-16f4-4a83-988d-5b7cc007471f" Alias="device-category-extremity-splint-cast-afo" Level="5">
  <Info>
    <Parent Key="cd8d7f50-2860-4bf4-a49d-11d435bf6001">device-category</Parent>
    <Path>/Home/Config/LookupItems/device-category/device-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Extremity splint/Cast/AFO" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[68]]></lookupValue>
  </Properties>
</Content>