<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee9977d2-3cc5-404d-8ceb-3ac27afabeb0" Alias="device-category-lines-eg-ecmo-piv-art-line" Level="5">
  <Info>
    <Parent Key="cd8d7f50-2860-4bf4-a49d-11d435bf6001">device-category</Parent>
    <Path>/Home/Config/LookupItems/device-category/device-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Lines (e.g., ECMO, PIV, Art line)" />
    <SortOrder>78</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>78</Value></lookupValue>
  </Properties>
</Content>