<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cac276a-4ce3-444d-860e-49f8d303083a" Alias="device-category-other" Level="5">
  <Info>
    <Parent Key="cd8d7f50-2860-4bf4-a49d-11d435bf6001">device-category</Parent>
    <Path>/Home/Config/LookupItems/device-category/device-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[72]]></Value></lookupValue>
  </Properties>
</Content>