<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c893b97-3169-49b2-bda5-d84f18244e68" Alias="device-category-stabilizers-eg-etad-bridal-stat-lock" Level="5">
  <Info>
    <Parent Key="cd8d7f50-2860-4bf4-a49d-11d435bf6001">device-category</Parent>
    <Path>/Home/Config/LookupItems/device-category/device-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Stabilizers (e.g., ETAD, Bridal, STAT lock)" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[77]]></Value></lookupValue>
  </Properties>
</Content>