<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a4a1170-b7e2-45c3-b4f6-6f7d525afa17" Alias="device-category-tlso-halo-trunk-brace" Level="5">
  <Info>
    <Parent Key="cd8d7f50-2860-4bf4-a49d-11d435bf6001">device-category</Parent>
    <Path>/Home/Config/LookupItems/device-category/device-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="TLSO/Halo/Trunk Brace" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[67]]></lookupValue>
  </Properties>
</Content>