<?xml version="1.0" encoding="utf-8"?>
<Content Key="58de2ba8-4d78-41ff-8f72-900971708224" Alias="device-category-urinary-fecal-management-system" Level="5">
  <Info>
    <Parent Key="cd8d7f50-2860-4bf4-a49d-11d435bf6001">device-category</Parent>
    <Path>/Home/Config/LookupItems/device-category/device-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Urinary/fecal management system" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[73]]></lookupValue>
  </Properties>
</Content>