<?xml version="1.0" encoding="utf-8"?>
<Content Key="958cdc15-be5b-4ca1-a83e-08362a923d3d" Alias="device-category-vascular-access" Level="5">
  <Info>
    <Parent Key="cd8d7f50-2860-4bf4-a49d-11d435bf6001">device-category</Parent>
    <Path>/Home/Config/LookupItems/device-category/device-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Vascular Access" />
    <SortOrder>74</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>74</Value></lookupValue>
  </Properties>
</Content>