<?xml version="1.0" encoding="utf-8"?>
<Content Key="74e6ba7a-d5cd-4a8d-b3d5-5bdebabb0523" Alias="physical-environment-subcategory-design-of-physical-surroundings-eg-size-layout-location" Level="5">
  <Info>
    <Parent Key="98f288e9-c990-4507-8d7a-9c8907c57b5c">physical-environment-subcategory</Parent>
    <Path>/Home/Config/LookupItems/physical-environment-subcategory/physical-environment-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Design of physical surroundings (e.g., size, layout, location)" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>