<?xml version="1.0" encoding="utf-8"?>
<Content Key="929fd9e6-b335-4bf9-a2b0-fc523008b694" Alias="physical-environment-subcategory-other" Level="5">
  <Info>
    <Parent Key="98f288e9-c990-4507-8d7a-9c8907c57b5c">physical-environment-subcategory</Parent>
    <Path>/Home/Config/LookupItems/physical-environment-subcategory/physical-environment-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>7</Value></lookupValue>
  </Properties>
</Content>