<?xml version="1.0" encoding="utf-8"?>
<Content Key="98f288e9-c990-4507-8d7a-9c8907c57b5c" Alias="physical-environment-subcategory" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/physical-environment-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Physical Environment Subcategory" />
    <SortOrder>126</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>