<?xml version="1.0" encoding="utf-8"?>
<Content Key="89cc5e0b-c22d-4605-9d89-e253e00a88c3" Alias="physical-environment-subcategory-physical-environment-stressors-eg-temperature-lighting-noise-clutter" Level="5">
  <Info>
    <Parent Key="98f288e9-c990-4507-8d7a-9c8907c57b5c">physical-environment-subcategory</Parent>
    <Path>/Home/Config/LookupItems/physical-environment-subcategory/physical-environment-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Physical environment stressors (e.g., temperature, lighting, noise, clutter" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[2]]></lookupValue>
  </Properties>
</Content>