<?xml version="1.0" encoding="utf-8"?>
<Content Key="2236f5e0-a9ba-4d35-ba30-d23b8519cefc" Alias="physical-environment-subcategory-product-equipment-maintenance" Level="5">
  <Info>
    <Parent Key="98f288e9-c990-4507-8d7a-9c8907c57b5c">physical-environment-subcategory</Parent>
    <Path>/Home/Config/LookupItems/physical-environment-subcategory/physical-environment-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Product/Equipment Maintenance" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>5</Value></lookupValue>
  </Properties>
</Content>