<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae45a3a5-31a1-4d4f-ae1d-e451a83d9096" Alias="physical-environment-subcategory-product-equipment-function" Level="5">
  <Info>
    <Parent Key="98f288e9-c990-4507-8d7a-9c8907c57b5c">physical-environment-subcategory</Parent>
    <Path>/Home/Config/LookupItems/physical-environment-subcategory/physical-environment-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Product/Equipment Function" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[3]]></Value></lookupValue>
  </Properties>
</Content>