<?xml version="1.0" encoding="utf-8"?>
<Content Key="66ecbb40-a4e3-4511-9b88-8e42433bfa72" Alias="physical-environment-subcategory-product-equipment-availability" Level="5">
  <Info>
    <Parent Key="98f288e9-c990-4507-8d7a-9c8907c57b5c">physical-environment-subcategory</Parent>
    <Path>/Home/Config/LookupItems/physical-environment-subcategory/physical-environment-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Product/Equipment Availability" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>6</Value></lookupValue>
  </Properties>
</Content>