<?xml version="1.0" encoding="utf-8"?>
<Content Key="73a96b5c-226e-4db8-8cb0-7e7730cf39b1" Alias="communication-failure-timing" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/communication-failure-timing</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Communication Failure Timing" />
    <SortOrder>116</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>