<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1ccb36c-a09c-436a-afd9-7c18219059c1" Alias="communication-failure-timing-in-hospital-asc-only" Level="5">
  <Info>
    <Parent Key="73a96b5c-226e-4db8-8cb0-7e7730cf39b1">communication-failure-timing</Parent>
    <Path>/Home/Config/LookupItems/communication-failure-timing/communication-failure-timing</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="In hospital/ASC only" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[64]]></lookupValue>
  </Properties>
</Content>