<?xml version="1.0" encoding="utf-8"?>
<Content Key="891cc00f-9fca-40fc-b6ab-35b6a8899a7c" Alias="communication-failure-timing-in-outpatient-setting-only" Level="5">
  <Info>
    <Parent Key="73a96b5c-226e-4db8-8cb0-7e7730cf39b1">communication-failure-timing</Parent>
    <Path>/Home/Config/LookupItems/communication-failure-timing/communication-failure-timing</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="In outpatient setting only" />
    <SortOrder>63</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>63</Value></lookupValue>
  </Properties>
</Content>