<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a06c733-8877-49eb-98ee-3d2f8c925986" Alias="communication-failure-timing-transfer-of-facility" Level="5">
  <Info>
    <Parent Key="73a96b5c-226e-4db8-8cb0-7e7730cf39b1">communication-failure-timing</Parent>
    <Path>/Home/Config/LookupItems/communication-failure-timing/communication-failure-timing</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Transfer of facility" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[61]]></Value></lookupValue>
  </Properties>
</Content>