<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f983623-ae52-4b9d-8885-4cf0cd3f1fe4" Alias="communication-failure-timing-transition-between-hospital-asc-and-outpatient" Level="5">
  <Info>
    <Parent Key="73a96b5c-226e-4db8-8cb0-7e7730cf39b1">communication-failure-timing</Parent>
    <Path>/Home/Config/LookupItems/communication-failure-timing/communication-failure-timing</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Transition between hospital/ASC and outpatient" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[62]]></lookupValue>
  </Properties>
</Content>