<?xml version="1.0" encoding="utf-8"?>
<Content Key="b77c770b-eb08-4a24-b1e8-b96f1799ce7f" Alias="cancer" Level="5">
  <Info>
    <Parent Key="b2c3d4e5-f6a7-8901-bcde-f23456789abc">pc1</Parent>
    <Path>/Home/Config/LookupItems/pc1/cancer</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
<lookupValue>
      <Value><![CDATA[PC1_cancer]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
  <NodeName Default="Cancer" />

</Content>