<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcc4de57-5b4e-4b30-af73-51953ea4b09d" Alias="malnourished" Level="5">
  <Info>
    <Parent Key="b2c3d4e5-f6a7-8901-bcde-f23456789abc">pc1</Parent>
    <Path>/Home/Config/LookupItems/pc1/malnourished</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[PC1_malnourished]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
  <NodeName Default="Clinically malnourished" />

</Content>