<?xml version="1.0" encoding="utf-8"?>
<Content Key="c829af3a-901b-4c56-8d63-2fca9d0306da" Alias="heart" Level="5">
  <Info>
    <Parent Key="b2c3d4e5-f6a7-8901-bcde-f23456789abc">pc1</Parent>
    <Path>/Home/Config/LookupItems/pc1/heart</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
<lookupValue>
      <Value><![CDATA[PC1_heart]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
  <NodeName Default="Heart failure" />

</Content>