<?xml version="1.0" encoding="utf-8"?>
<Content Key="7108cbfe-8d6e-48a3-8a81-82a8cfdeab1d" Alias="kidney" Level="5">
  <Info>
    <Parent Key="b2c3d4e5-f6a7-8901-bcde-f23456789abc">pc1</Parent>
    <Path>/Home/Config/LookupItems/pc1/kidney</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
    <lookupText>
      <Value><![CDATA[Kidney failure]]></Value>
    </lookupText>
    <lookupValue>
      <Value><![CDATA[PC1_kidney]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
</Content>