<?xml version="1.0" encoding="utf-8"?>
<Content Key="71c80a4d-46b9-4a58-aa01-f4c4f1bcdae6" Alias="obesity" Level="5">
  <Info>
    <Parent Key="b2c3d4e5-f6a7-8901-bcde-f23456789abc">pc1</Parent>
    <Path>/Home/Config/LookupItems/pc1/obesity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
    <lookupText>
      <Value><![CDATA[Morbid obesity (BMI =>40)]]></Value>
    </lookupText>
    <lookupValue>
      <Value><![CDATA[PC1_obesity]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
</Content>