<?xml version="1.0" encoding="utf-8"?>
<Content Key="19c449a9-fe3b-43e3-9870-5221d52fd3f4" Alias="respiratory" Level="5">
  <Info>
    <Parent Key="b2c3d4e5-f6a7-8901-bcde-f23456789abc">pc1</Parent>
    <Path>/Home/Config/LookupItems/pc1/respiratory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
    <lookupText>
      <Value><![CDATA[Respiratory failure]]></Value>
    </lookupText>
    <lookupValue>
      <Value><![CDATA[PC1_respiratory]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
</Content>