<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1b71f24-2a6a-4334-ae0c-f89078283188" Alias="smoker" Level="5">
  <Info>
    <Parent Key="b2c3d4e5-f6a7-8901-bcde-f23456789abc">pc1</Parent>
    <Path>/Home/Config/LookupItems/pc1/smoker</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
    <lookupText>
      <Value><![CDATA[Smoker]]></Value>
    </lookupText>
    <lookupValue>
      <Value><![CDATA[PC1_smoker]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
</Content>