<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8147758-1ba9-4ae3-b1cb-d9426c34846e" Alias="fall-injury-dehiscence-of-surgical-wound" Level="5">
  <Info>
    <Parent Key="d10e2c39-3ee4-433e-bc87-62f46faabd9e">fall-injury</Parent>
    <Path>/Home/Config/LookupItems/fall-injury/fall-injury</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Dehiscence of surgical wound" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>9</Value></lookupValue>
  </Properties>
</Content>