<?xml version="1.0" encoding="utf-8"?>
<Content Key="41a2993c-617d-483a-a5e2-3f33b667565f" Alias="fall-injury-femur-fracture" Level="5">
  <Info>
    <Parent Key="d10e2c39-3ee4-433e-bc87-62f46faabd9e">fall-injury</Parent>
    <Path>/Home/Config/LookupItems/fall-injury/fall-injury</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Femur fracture" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[8]]></Value></lookupValue>
  </Properties>
</Content>