<?xml version="1.0" encoding="utf-8"?>
<Content Key="668a0783-329b-424d-8a40-a92ca77c2da1" Alias="fall-injury-head-bleed" Level="5">
  <Info>
    <Parent Key="d10e2c39-3ee4-433e-bc87-62f46faabd9e">fall-injury</Parent>
    <Path>/Home/Config/LookupItems/fall-injury/fall-injury</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Head Bleed" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>