<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dddf679-3b2c-4754-83e3-e6a3e4769fd1" Alias="fall-injury-hip-fracture" Level="5">
  <Info>
    <Parent Key="d10e2c39-3ee4-433e-bc87-62f46faabd9e">fall-injury</Parent>
    <Path>/Home/Config/LookupItems/fall-injury/fall-injury</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Hip fracture" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>3</Value></lookupValue>
  </Properties>
</Content>