<?xml version="1.0" encoding="utf-8"?>
<Content Key="3515820f-8ab0-4391-8803-2aa44c8d9ad6" Alias="fall-injury-other-please-describe" Level="5">
  <Info>
    <Parent Key="d10e2c39-3ee4-433e-bc87-62f46faabd9e">fall-injury</Parent>
    <Path>/Home/Config/LookupItems/fall-injury/fall-injury</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other (please describe)" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>7</Value></lookupValue>
  </Properties>
</Content>