<?xml version="1.0" encoding="utf-8"?>
<Content Key="bef1f8a2-6713-4e6c-a4cf-2bd4ee2c652e" Alias="fall-injury-pelvic-fracture" Level="5">
  <Info>
    <Parent Key="d10e2c39-3ee4-433e-bc87-62f46faabd9e">fall-injury</Parent>
    <Path>/Home/Config/LookupItems/fall-injury/fall-injury</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Pelvic fracture" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>4</Value></lookupValue>
  </Properties>
</Content>