<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a0af2bf-4ca6-4643-850b-124c1895783a" Alias="patient-type-inpatient" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-type</Parent>
    <Path>/Home/Config/LookupItems,patient-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Inpatient" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[1]]></lookupValue>
  </Properties>
</Content>