<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a0af2bf-4ca6-4643-850b-124c1895783a" Alias="patient-type-inpatient" Level="5">
  <Info>
    <Parent Key="1408d515-68ac-4568-8e0c-16115a41765b">patient-type</Parent>
    <Path>/Home/Config/LookupItems/patient-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Inpatient" />
  <SortOrder>1</SortOrder></Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>