<?xml version="1.0" encoding="utf-8"?>
<Content Key="87ae420c-6e3a-486d-9775-9fddbf6da3a7" Alias="patient-type-observation" Level="5">
  <Info>
    <Parent Key="1408d515-68ac-4568-8e0c-16115a41765b">patient-type</Parent>
    <Path>/Home/Config/LookupItems/patient-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Observation" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[3]]></Value></lookupValue>
  </Properties>
</Content>