<?xml version="1.0" encoding="utf-8"?>
<Content Key="b657d350-a40f-42c2-9ee1-a108b3330384" Alias="patient-type-other" Level="5">
  <Info>
    <Parent Key="1408d515-68ac-4568-8e0c-16115a41765b">patient-type</Parent>
    <Path>/Home/Config/LookupItems/patient-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[7]]></lookupValue>
  </Properties>
</Content>