<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a7ab747-9f78-48d9-805a-c9303868a7fb" Alias="patient-type-outpatient" Level="5">
  <Info>
    <Parent Key="1408d515-68ac-4568-8e0c-16115a41765b">patient-type</Parent>
    <Path>/Home/Config/LookupItems/patient-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Outpatient" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[2]]></lookupValue>
  </Properties>
</Content>