<?xml version="1.0" encoding="utf-8"?>
<Content Key="1408d515-68ac-4568-8e0c-16115a41765b" Alias="patient-type" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Patient Type" />
  </Info>
  <Properties />
</Content>