<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2f03423-3ba7-4e5a-b41c-49a05b42c1ce" Alias="patient-type-staff" Level="5">
  <Info>
    <Parent Key="1408d515-68ac-4568-8e0c-16115a41765b">patient-type</Parent>
    <Path>/Home/Config/LookupItems/patient-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Staff" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[5]]></Value></lookupValue>
  </Properties>
</Content>