<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2f03423-3ba7-4e5a-b41c-49a05b42c1ce" Alias="patient-type-staff" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-type</Parent>
    <Path>/Home/Config/LookupItems,patient-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Staff" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[5]]></lookupValue>
  </Properties>
</Content>