<?xml version="1.0" encoding="utf-8"?>
<Content Key="08ea3a96-bdf6-4b4d-9f21-586fdc64ae0a" Alias="patient-type-swing-beds" Level="5">
  <Info>
    <Parent Key="1408d515-68ac-4568-8e0c-16115a41765b">patient-type</Parent>
    <Path>/Home/Config/LookupItems/patient-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Swing Beds" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[6]]></lookupValue>
  </Properties>
</Content>