<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ab04ada-2f31-4801-8759-fba4a89fe4fa" Alias="patient-type-visitor" Level="5">
  <Info>
    <Parent Key="1408d515-68ac-4568-8e0c-16115a41765b">patient-type</Parent>
    <Path>/Home/Config/LookupItems/patient-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Visitor" />
  <SortOrder>4</SortOrder></Info>
  <Properties>
    <lookupValue><Value>4</Value></lookupValue>
  </Properties>
</Content>