<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ab04ada-2f31-4801-8759-fba4a89fe4fa" Alias="patient-type-visitor" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-type</Parent>
    <Path>/Home/Config/LookupItems/patient-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Visitor" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[4]]></lookupValue>
  </Properties>
</Content>