<?xml version="1.0" encoding="utf-8"?>
<Content Key="284098bb-a6cb-4a6e-bdf0-56cb8a17e723" Alias="corrective-action-intervention" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/corrective-action-intervention</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Corrective Action Intervention" />
    <SortOrder>131</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>