<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef4f8189-2504-4125-9970-70fbd9e7c7e7" Alias="corrective-action-intervention-strong-interventions" Level="5">
  <Info>
    <Parent Key="284098bb-a6cb-4a6e-bdf0-56cb8a17e723">corrective-action-intervention</Parent>
    <Path>/Home/Config/LookupItems/corrective-action-intervention/corrective-action-intervention</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Strong Interventions" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>