<?xml version="1.0" encoding="utf-8"?>
<Content Key="39ea4a49-bee3-43df-9012-8f7b53049b76" Alias="corrective-action-intervention-weak-interventions-if-used-alone" Level="5">
  <Info>
    <Parent Key="284098bb-a6cb-4a6e-bdf0-56cb8a17e723">corrective-action-intervention</Parent>
    <Path>/Home/Config/LookupItems/corrective-action-intervention/corrective-action-intervention</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Weak interventions (if used alone)" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[3]]></lookupValue>
  </Properties>
</Content>