<?xml version="1.0" encoding="utf-8"?>
<Content Key="3367efa3-e640-4f9a-b783-8b33d1c05661" Alias="process-stage-administering" Level="5">
  <Info>
    <Parent Key="58387e35-9969-4514-afc2-9e4bbdd679ab">process-stage</Parent>
    <Path>/Home/Config/LookupItems/process-stage/process-stage</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Administering" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[3]]></Value></lookupValue>
  </Properties>
</Content>