<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a99ac7b-9596-47ae-8a8d-479ef722d2ef" Alias="process-stage-dispensing" Level="5">
  <Info>
    <Parent Key="58387e35-9969-4514-afc2-9e4bbdd679ab">process-stage</Parent>
    <Path>/Home/Config/LookupItems/process-stage/process-stage</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Dispensing" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[2]]></Value></lookupValue>
  </Properties>
</Content>