<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9e619f2-5321-4d5f-914c-f4454b759028" Alias="process-stage-monitoring" Level="5">
  <Info>
    <Parent Key="58387e35-9969-4514-afc2-9e4bbdd679ab">process-stage</Parent>
    <Path>/Home/Config/LookupItems/process-stage/process-stage</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Monitoring" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>5</Value></lookupValue>
  </Properties>
</Content>