<?xml version="1.0" encoding="utf-8"?>
<Content Key="22d803ad-0013-42db-9b34-1ed678900141" Alias="process-stage-other" Level="5">
  <Info>
    <Parent Key="58387e35-9969-4514-afc2-9e4bbdd679ab">process-stage</Parent>
    <Path>/Home/Config/LookupItems/process-stage/process-stage</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>6</Value></lookupValue>
  </Properties>
</Content>