<?xml version="1.0" encoding="utf-8"?>
<Content Key="7939b4a1-847a-4a1e-8a8c-45f2c8ae8948" Alias="process-stage-prescribing" Level="5">
  <Info>
    <Parent Key="58387e35-9969-4514-afc2-9e4bbdd679ab">process-stage</Parent>
    <Path>/Home/Config/LookupItems/process-stage/process-stage</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Prescribing" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>