<?xml version="1.0" encoding="utf-8"?>
<Content Key="971feef0-da58-42b2-bbc8-0ace3de44620" Alias="patient-age-13-18-years" Level="5">
  <Info>
    <Parent Key="4773c6df-2b95-4d1e-88d1-d2c3bc3087c0">patient-age</Parent>
    <Path>/Home/Config/LookupItems/patient-age</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="13-18 years" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[4]]></Value></lookupValue>
  </Properties>
</Content>