<?xml version="1.0" encoding="utf-8"?>
<Content Key="971feef0-da58-42b2-bbc8-0ace3de44620" Alias="patient-age-13-18-years" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-age</Parent>
    <Path>/Home/Config/LookupItems/patient-age</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="13-18 years" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[4]]></lookupValue>
  </Properties>
</Content>