<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1b20b7e-6e1e-42dd-a85b-75fb0ec2a1e2" Alias="patient-age-28-days-2-years" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-age</Parent>
    <Path>/Home/Config/LookupItems/patient-age</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="28 days-2 years" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[2]]></lookupValue>
  </Properties>
</Content>