<?xml version="1.0" encoding="utf-8"?>
<Content Key="737721fe-0ff9-43f9-a7c3-4ba734fc6931" Alias="patient-age-3-12-years" Level="5">
  <Info>
    <Parent Key="4773c6df-2b95-4d1e-88d1-d2c3bc3087c0">patient-age</Parent>
    <Path>/Home/Config/LookupItems/patient-age</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="3-12 years" />
  <SortOrder>3</SortOrder></Info>
  <Properties>
    <lookupValue><Value>3</Value></lookupValue>
  </Properties>
</Content>