<?xml version="1.0" encoding="utf-8"?>
<Content Key="4406006e-d71d-41b8-a060-707199421805" Alias="patient-age-40-64-years" Level="5">
  <Info>
    <Parent Key="4773c6df-2b95-4d1e-88d1-d2c3bc3087c0">patient-age</Parent>
    <Path>/Home/Config/LookupItems/patient-age</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="40-64 years" />
  <SortOrder>6</SortOrder></Info>
  <Properties>
    <lookupValue><Value>6</Value></lookupValue>
  </Properties>
</Content>