<?xml version="1.0" encoding="utf-8"?>
<Content Key="b42fb5d5-7e4f-4f10-bbaf-a98ce35f8436" Alias="patient-age-65-74-years" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-age</Parent>
    <Path>/Home/Config/LookupItems,patient-age</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="65-74 years" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[7]]></lookupValue>
  </Properties>
</Content>