<?xml version="1.0" encoding="utf-8"?>
<Content Key="882209c0-b390-4341-ae49-7d882eec0c6e" Alias="patient-age-28-days" Level="5">
  <Info>
    <Parent Key="4773c6df-2b95-4d1e-88d1-d2c3bc3087c0">patient-age</Parent>
    <Path>/Home/Config/LookupItems/patient-age</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Less than 28 days" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[1]]></Value></lookupValue>
  </Properties>
</Content>
