<?xml version="1.0" encoding="utf-8"?>
<Content Key="4773c6df-2b95-4d1e-88d1-d2c3bc3087c0" Alias="patient-age" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Patient Age" />
  </Info>
  <Properties />
</Content>