<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2c3d4e5-f6a7-8901-2345-678901bcdefg" Alias="bruise" Level="5">
  <Info>
    <Parent Key="f8e9d7c6-b5a4-4321-9876-543210fedcba">abnormality-type</Parent>
    <Path>/Home/Config/LookupItems/abnormality-type/bruise</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-15T10:32:00</CreateDate>
    <NodeName Default="Bruise" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[2]]></Value>
    </lookupValue>
  </Properties>
</Content>

