<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3a53f8f-2f50-4831-8625-74a66e33abbd" Alias="ecmo" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-abcd-ef1234567890">pc2</Parent>
    <Path>/Home/Config/LookupItems/pc2/ecmo</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
<lookupValue>
      <Value><![CDATA[PC2_ecmo]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
  <NodeName Default="ECMO/LVAD/IABP" />

</Content>