<?xml version="1.0" encoding="utf-8"?>
<Content Key="3658b994-155f-4fbd-a086-6b60cdfbcc85" Alias="eof" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-abcd-ef1234567890">pc2</Parent>
    <Path>/Home/Config/LookupItems/pc2/eof</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
    <lookupText>
      <Value><![CDATA[End of life or hospice care]]></Value>
    </lookupText>
    <lookupValue>
      <Value><![CDATA[PC2_eof]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
</Content>