<?xml version="1.0" encoding="utf-8"?>
<Content Key="15ba8220-a2a1-40c7-8d2a-e1ef6f7b0e98" Alias="incontinentbladder" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-abcd-ef1234567890">pc2</Parent>
    <Path>/Home/Config/LookupItems/pc2/incontinentbladder</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
    <NodeName Default="Incontinent Bladder" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[PC2_incontinentBladder]]></Value>
    </lookupValue>
  </Properties>
</Content>