<?xml version="1.0" encoding="utf-8"?>
<Content Key="8841803a-0243-4a69-9250-727e8e93d4be" Alias="incontinentbowel" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-abcd-ef1234567890">pc2</Parent>
    <Path>/Home/Config/LookupItems/pc2/incontinentbowel</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
    <NodeName Default="Incontinent Bowel" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[PC2_incontinentBowel]]></Value>
    </lookupValue>
  </Properties>
</Content>