<?xml version="1.0" encoding="utf-8"?>
<Content Key="80da4d5e-33e3-4fdd-965b-6b96c9da117e" Alias="ventilator" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-abcd-ef1234567890">pc2</Parent>
    <Path>/Home/Config/LookupItems/pc2/ventilator</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
<lookupValue>
      <Value><![CDATA[PC2_ventilator]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
  <NodeName Default="On a ventilator" />

</Content>