<?xml version="1.0" encoding="utf-8"?>
<Content Key="a897c4fe-c890-44cb-b421-62a13b4c1373" Alias="dialysis" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-abcd-ef1234567890">pc2</Parent>
    <Path>/Home/Config/LookupItems/pc2/dialysis</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
    <lookupText>
      <Value><![CDATA[On Dialysis]]></Value>
    </lookupText>
    <lookupValue>
      <Value><![CDATA[PC2_dialysis]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
</Content>