<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1b2c3d4-e5f6-7890-abcd-ef1234567890" Alias="pc2" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/pc2</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
    <lookupName>
      <Value><![CDATA[PC2]]></Value>
    </lookupName>
  </Properties>
  <Schedule />
  <Template />
</Content>
