<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c1eaab3-918b-4090-b638-014b626ec049" Alias="vasopressor" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-abcd-ef1234567890">pc2</Parent>
    <Path>/Home/Config/LookupItems/pc2/vasopressor</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[PC2_vasopressor]]></Value>
    </lookupValue>
  </Properties>
  <Schedule />
  <Template />
  <NodeName Default="Two or more vasopressors" />

</Content>