<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd1dca2c-e2f6-4b3e-9c62-c8fad9c5e045" Alias="patient-language-american-sign-language" Level="5">
  <Info>
    <Parent Key="6f6ca7fb-97da-46ea-850b-93e4de7e4fb5">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="American Sign Language" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[10]]></lookupValue>
  </Properties>
</Content>