<?xml version="1.0" encoding="utf-8"?>
<Content Key="b41ff12c-66aa-411d-85a9-a82bae95a9b8" Alias="patient-language-amharic" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-language</Parent>
    <Path>/Home/Config/LookupItems,patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Amharic" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[11]]></lookupValue>
  </Properties>
</Content>