<?xml version="1.0" encoding="utf-8"?>
<Content Key="03f2f97b-b871-41c5-8921-5498ed1e2338" Alias="patient-language-arabic" Level="5">
  <Info>
    <Parent Key="6f6ca7fb-97da-46ea-850b-93e4de7e4fb5">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Arabic" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[9]]></Value></lookupValue>
  </Properties>
</Content>