<?xml version="1.0" encoding="utf-8"?>
<Content Key="379ac2b6-6c27-43ee-b143-4c5189f38779" Alias="patient-language-english" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-language</Parent>
    <Path>/Home/Config/LookupItems,patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="English" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[1]]></lookupValue>
  </Properties>
</Content>