<?xml version="1.0" encoding="utf-8"?>
<Content Key="379ac2b6-6c27-43ee-b143-4c5189f38779" Alias="patient-language-english" Level="5">
  <Info>
    <Parent Key="6f6ca7fb-97da-46ea-850b-93e4de7e4fb5">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="English" />
  <SortOrder>1</SortOrder></Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>