<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dc4f178-9040-42ee-bf6f-32c5b7e08aba" Alias="patient-language-hmong" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Hmong" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[4]]></lookupValue>
  </Properties>
</Content>