<?xml version="1.0" encoding="utf-8"?>
<Content Key="db5ad5c8-c48c-4b06-865d-e06afbced7d7" Alias="patient-language-karen" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Karen" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[5]]></lookupValue>
  </Properties>
</Content>