<?xml version="1.0" encoding="utf-8"?>
<Content Key="308c70cf-2231-46a4-a6c4-078784192fb0" Alias="patient-language-khmer" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Khmer" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[12]]></lookupValue>
  </Properties>
</Content>