<?xml version="1.0" encoding="utf-8"?>
<Content Key="51a3bfa7-7fc8-47e1-8679-bfa57c586fb6" Alias="patient-language-nepali" Level="5">
  <Info>
    <Parent Key="6f6ca7fb-97da-46ea-850b-93e4de7e4fb5">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Nepali" />
  <SortOrder>13</SortOrder></Info>
  <Properties>
    <lookupValue><Value>13</Value></lookupValue>
  </Properties>
</Content>