<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cf19b0f-b68f-4006-bcdb-86bbfba06dea" Alias="patient-language-oromo" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Oromo" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[8]]></lookupValue>
  </Properties>
</Content>