<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d234622-ed0e-4fb3-bd94-c8e1d69e3a0e" Alias="patient-language-other" Level="5">
  <Info>
    <Parent Key="6f6ca7fb-97da-46ea-850b-93e4de7e4fb5">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
  <SortOrder>14</SortOrder></Info>
  <Properties>
    <lookupValue><Value>14</Value></lookupValue>
  </Properties>
</Content>