<?xml version="1.0" encoding="utf-8"?>
<Content Key="16c0c688-d534-42e5-8594-509a32966492" Alias="patient-language-russian" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Russian" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[7]]></lookupValue>
  </Properties>
</Content>