<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c5a4371-a43a-4661-906b-495ad14e125e" Alias="patient-language-spanish" Level="5">
  <Info>
    <Parent Key="6f6ca7fb-97da-46ea-850b-93e4de7e4fb5">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Spanish" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[2]]></lookupValue>
  </Properties>
</Content>