<?xml version="1.0" encoding="utf-8"?>
<Content Key="d44eb6e8-9bd7-46f0-959b-9bc9c05c83fb" Alias="patient-language-vietnamese" Level="5">
  <Info>
    <Parent Key="6f6ca7fb-97da-46ea-850b-93e4de7e4fb5">patient-language</Parent>
    <Path>/Home/Config/LookupItems/patient-language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Vietnamese" />
  <SortOrder>6</SortOrder></Info>
  <Properties>
    <lookupValue><Value>6</Value></lookupValue>
  </Properties>
</Content>