<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf53ab85-cefb-4999-a984-b8c2e5bdb0da" Alias="pressure-ulcer-stage-stage-3" Level="5">
  <Info>
    <Parent Key="009b7040-4ba2-4c2f-a6c0-532d714a2fe4">pressure-ulcer-stage</Parent>
    <Path>/Home/Config/LookupItems/pressure-ulcer-stage/pressure-ulcer-stage</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Stage 3" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[2]]></lookupValue>
  </Properties>
</Content>