<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f076262-2590-4701-bac0-1f5c9b762699" Alias="pressure-ulcer-stage-unstageable" Level="5">
  <Info>
    <Parent Key="009b7040-4ba2-4c2f-a6c0-532d714a2fe4">pressure-ulcer-stage</Parent>
    <Path>/Home/Config/LookupItems/pressure-ulcer-stage/pressure-ulcer-stage</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Unstageable" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>