<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7b8c9d0-e1f2-3456-7890-123456abcdef0" Alias="orthopedic" Level="5">
  <Info>
    <Parent Key="b2c3d4e5-f6a7-8901-2345-678901bcdefab">type-of-surgery</Parent>
    <Path>/Home/Config/LookupItems/type-of-surgery/orthopedic</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-15T12:05:00</CreateDate>
    <NodeName Default="Orthopedic" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[6]]></Value>
    </lookupValue>
  </Properties>
</Content>
