<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3d4e5f6-a7b8-9012-3456-789012cdefbc" Alias="spine" Level="5">
  <Info>
    <Parent Key="b2c3d4e5-f6a7-8901-2345-678901bcdefb">type-of-surgery</Parent>
    <Path>/Home/Config/LookupItems/type-of-surgery/spine</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-15T12:01:00</CreateDate>
    <NodeName Default="Spine" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[1]]></Value>
    </lookupValue>
  </Properties>
</Content>
