<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6a7b8c9-d0e1-2345-6789-012345abcdef" Alias="trauma" Level="5">
  <Info>
    <Parent Key="b2c3d4e5-f6a7-8901-2345-678901bcdefb">type-of-surgery</Parent>
    <Path>/Home/Config/LookupItems/type-of-surgery/trauma</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-15T12:04:00</CreateDate>
    <NodeName Default="Trauma" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[4]]></Value>
    </lookupValue>
  </Properties>
</Content>
