<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2c3d4e5-f6a7-8901-2345-678901bcdefb" Alias="type-of-surgery" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/type-of-surgery</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2024-01-15T12:00:00</CreateDate>
    <NodeName Default="Type of Surgery" />
  </Info>
  <Properties />
</Content>
