<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4e5f6a7-b8c9-0123-4567-890123defabcd" Alias="vascular" Level="5">
  <Info>
    <Parent Key="b2c3d4e5-f6a7-8901-2345-678901bcdefab">type-of-surgery</Parent>
    <Path>/Home/Config/LookupItems/type-of-surgery/vascular</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-15T12:02:00</CreateDate>
    <NodeName Default="Vascular" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[2]]></Value>
    </lookupValue>
  </Properties>
</Content>
