<?xml version="1.0" encoding="utf-8"?>
<Content Key="c072b5b3-3989-45fa-b5c7-fcd84a7f2978" Alias="cap-methodology" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/cap-methodology</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="CAP Methodology" />
    <SortOrder>130</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>