<?xml version="1.0" encoding="utf-8"?>
<Content Key="675ef3c3-3036-4b9d-ad82-356ef5bd680d" Alias="cap-methodology-chart-audit" Level="5">
  <Info>
    <Parent Key="c072b5b3-3989-45fa-b5c7-fcd84a7f2978">cap-methodology</Parent>
    <Path>/Home/Config/LookupItems/cap-methodology/cap-methodology</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Chart Audit" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[2]]></Value></lookupValue>
  </Properties>
</Content>