<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7d3aa38-243a-4687-9bc9-f03be7e371b4" Alias="cap-methodology-competency-testing" Level="5">
  <Info>
    <Parent Key="c072b5b3-3989-45fa-b5c7-fcd84a7f2978">cap-methodology</Parent>
    <Path>/Home/Config/LookupItems/cap-methodology/cap-methodology</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Competency Testing" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>4</Value></lookupValue>
  </Properties>
</Content>