<?xml version="1.0" encoding="utf-8"?>
<Content Key="706bc99c-49ff-4096-9903-0860f4e2fa60" Alias="cap-methodology-other" Level="5">
  <Info>
    <Parent Key="c072b5b3-3989-45fa-b5c7-fcd84a7f2978">cap-methodology</Parent>
    <Path>/Home/Config/LookupItems/cap-methodology/cap-methodology</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[7]]></lookupValue>
  </Properties>
</Content>