<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdb4e78e-885f-457c-9c5c-d75563a2b706" Alias="cap-methodology-survey" Level="5">
  <Info>
    <Parent Key="c072b5b3-3989-45fa-b5c7-fcd84a7f2978">cap-methodology</Parent>
    <Path>/Home/Config/LookupItems/cap-methodology/cap-methodology</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Survey" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>3</Value></lookupValue>
  </Properties>
</Content>