<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c629505-6240-4f6e-a9c5-f24538cb4cdf" Alias="communication-information-subcategory" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/communication-information-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Communication Information Subcategory" />
    <SortOrder>123</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>