<?xml version="1.0" encoding="utf-8"?>
<Content Key="6eda4736-4d3e-4fab-8553-c067d00bdcc2" Alias="communication-information-subcategory-information-not-readily-available-or-accessible-test-results-case-notes" Level="5">
  <Info>
    <Parent Key="4c629505-6240-4f6e-a9c5-f24538cb4cdf">communication-information-subcategory</Parent>
    <Path>/Home/Config/LookupItems/communication-information-subcategory/communication-information-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Information not readily available or accessible (test results, case notes)" />
    <SortOrder>19</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>19</Value></lookupValue>
  </Properties>
</Content>