<?xml version="1.0" encoding="utf-8"?>
<Content Key="374650a2-9dc9-4968-9972-51bbfe7a696e" Alias="communication-information-subcategory-information-not-communicated-using-structured-communication-process-eg-sbar-readback-ticket-to-ride" Level="5">
  <Info>
    <Parent Key="4c629505-6240-4f6e-a9c5-f24538cb4cdf">communication-information-subcategory</Parent>
    <Path>/Home/Config/LookupItems/communication-information-subcategory/communication-information-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Information not communicated using structured communication process (e.g., SBAR, readback, ticket to ride)" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[17]]></lookupValue>
  </Properties>
</Content>