<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1cd02bc-bf22-4715-b5ef-175e56f9e3f9" Alias="communication-information-subcategory-information-not-communicated-to-appropriate-person-team" Level="5">
  <Info>
    <Parent Key="4c629505-6240-4f6e-a9c5-f24538cb4cdf">communication-information-subcategory</Parent>
    <Path>/Home/Config/LookupItems/communication-information-subcategory/communication-information-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Information not communicated to appropriate person/team" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[16]]></Value></lookupValue>
  </Properties>
</Content>