<?xml version="1.0" encoding="utf-8"?>
<Content Key="37bf701a-4d49-4ce8-a953-5fa8ba35db24" Alias="communication-information-subcategory-information-was-not-acted-upon" Level="5">
  <Info>
    <Parent Key="4c629505-6240-4f6e-a9c5-f24538cb4cdf">communication-information-subcategory</Parent>
    <Path>/Home/Config/LookupItems/communication-information-subcategory/communication-information-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Information was not acted upon" />
    <SortOrder>20</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>20</Value></lookupValue>
  </Properties>
</Content>