<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bb59c86-34bb-41b4-9db5-3ab171c607f6" Alias="communication-information-subcategory-other" Level="5">
  <Info>
    <Parent Key="4c629505-6240-4f6e-a9c5-f24538cb4cdf">communication-information-subcategory</Parent>
    <Path>/Home/Config/LookupItems/communication-information-subcategory/communication-information-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>21</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>21</Value></lookupValue>
  </Properties>
</Content>