<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a74f40a-c989-475c-bf33-a4eef2c204a8" Alias="communication-information-subcategory-structured-communication-process-not-used-appropriately-eg-information-unclear-incomplete-inaccurate" Level="5">
  <Info>
    <Parent Key="4c629505-6240-4f6e-a9c5-f24538cb4cdf">communication-information-subcategory</Parent>
    <Path>/Home/Config/LookupItems/communication-information-subcategory/communication-information-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Structured communication process not used appropriately (e.g., information unclear, incomplete, inaccurate)" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>18</Value></lookupValue>
  </Properties>
</Content>