<?xml version="1.0" encoding="utf-8"?>
<Content Key="f77921e3-3d59-43c3-8bdf-2af289084fa8" Alias="patient-ethnicity-hispanic-or-latino" Level="5">
  <Info>
    <Parent Key="97ae4e98-439b-42ff-84bb-4511257fe657">patient-ethnicity</Parent>
    <Path>/Home/Config/LookupItems/patient-ethnicity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Hispanic or Latino" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[1]]></Value></lookupValue>
  </Properties>
</Content>