<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb9e5a17-bd59-4384-8f8f-67628670038a" Alias="patient-ethnicity-not-hispanic-or-latino" Level="5">
  <Info>
    <Parent Key="97ae4e98-439b-42ff-84bb-4511257fe657">patient-ethnicity</Parent>
    <Path>/Home/Config/LookupItems/patient-ethnicity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Not Hispanic or Latino" />
  <SortOrder>2</SortOrder></Info>
  <Properties>
    <lookupValue><Value>2</Value></lookupValue>
  </Properties>
</Content>