<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c0903fd-19df-49e4-8c66-7492388551bf" Alias="patient-ethnicity-unknown" Level="5">
  <Info>
    <Parent Key="97ae4e98-439b-42ff-84bb-4511257fe657">patient-ethnicity</Parent>
    <Path>/Home/Config/LookupItems/patient-ethnicity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Unknown" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[3]]></lookupValue>
  </Properties>
</Content>