<?xml version="1.0" encoding="utf-8"?>
<Content Key="5aa29df1-29c3-41fe-9108-3a6f138c33db" Alias="organizational-culture-subcategory-availability-and-prioritization-of-resources-to-address-safety-issue" Level="5">
  <Info>
    <Parent Key="1bc6a292-2cc7-4a56-95e6-f63931cd7bc1">organizational-culture-subcategory</Parent>
    <Path>/Home/Config/LookupItems/organizational-culture-subcategory/organizational-culture-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Availability and prioritization of resources to address safety issue" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>14</Value></lookupValue>
  </Properties>
</Content>