<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc2bfe7a-f272-4802-9458-ae971d01e41d" Alias="organizational-culture-subcategory-culture-of-productivity-over-safety-eg-turnover-of-or-cases" Level="5">
  <Info>
    <Parent Key="1bc6a292-2cc7-4a56-95e6-f63931cd7bc1">organizational-culture-subcategory</Parent>
    <Path>/Home/Config/LookupItems/organizational-culture-subcategory/organizational-culture-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Culture of productivity over safety (e.g., turnover of OR cases)" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[9]]></lookupValue>
  </Properties>
</Content>