<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bc85d5b-11d8-4916-b64a-d7184c424463" Alias="organizational-culture-subcategory-lack-of-support-for-staff-or-patients-speaking-up-about-potential-risk" Level="5">
  <Info>
    <Parent Key="1bc6a292-2cc7-4a56-95e6-f63931cd7bc1">organizational-culture-subcategory</Parent>
    <Path>/Home/Config/LookupItems/organizational-culture-subcategory/organizational-culture-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Lack of support for staff or patients speaking up about potential risk" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[10]]></Value></lookupValue>
  </Properties>
</Content>