<?xml version="1.0" encoding="utf-8"?>
<Content Key="80c2bfad-a776-48f4-b412-2dd31ca27df5" Alias="organizational-culture-subcategory-lack-of-clear-expectations-for-following-policies" Level="5">
  <Info>
    <Parent Key="1bc6a292-2cc7-4a56-95e6-f63931cd7bc1">organizational-culture-subcategory</Parent>
    <Path>/Home/Config/LookupItems/organizational-culture-subcategory/organizational-culture-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Lack of clear expectations for following policies" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>11</Value></lookupValue>
  </Properties>
</Content>