<?xml version="1.0" encoding="utf-8"?>
<Content Key="dba0d59f-eb2d-4d3b-8b2a-920c4e6e0cff" Alias="organizational-culture-subcategory-organizational-tolerance-for-disruptive-or-reckless-behavior" Level="5">
  <Info>
    <Parent Key="1bc6a292-2cc7-4a56-95e6-f63931cd7bc1">organizational-culture-subcategory</Parent>
    <Path>/Home/Config/LookupItems/organizational-culture-subcategory/organizational-culture-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Organizational tolerance for disruptive or reckless behavior" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[13]]></lookupValue>
  </Properties>
</Content>