<?xml version="1.0" encoding="utf-8"?>
<Content Key="f46dabf2-5d83-47e9-921d-8997f7da4b6d" Alias="organizational-culture-subcategory-organizational-tolerance-for-drift-in-practice" Level="5">
  <Info>
    <Parent Key="1bc6a292-2cc7-4a56-95e6-f63931cd7bc1">organizational-culture-subcategory</Parent>
    <Path>/Home/Config/LookupItems/organizational-culture-subcategory/organizational-culture-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Organizational tolerance for drift in practice" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>12</Value></lookupValue>
  </Properties>
</Content>