<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bc6a292-2cc7-4a56-95e6-f63931cd7bc1" Alias="organizational-culture-subcategory" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/organizational-culture-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Organizational Culture Subcategory" />
    <SortOrder>128</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>