<?xml version="1.0" encoding="utf-8"?>
<Content Key="30c6d7b0-0b28-4702-a53f-3e788a8829be" Alias="organizational-culture-subcategory-other" Level="5">
  <Info>
    <Parent Key="1bc6a292-2cc7-4a56-95e6-f63931cd7bc1">organizational-culture-subcategory</Parent>
    <Path>/Home/Config/LookupItems/organizational-culture-subcategory/organizational-culture-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[15]]></Value></lookupValue>
  </Properties>
</Content>