<?xml version="1.0" encoding="utf-8"?>
<Content Key="765af1ad-2582-4358-98f0-53c6e099aadf" Alias="event-location-adult-med-surg" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">event-location</Parent>
    <Path>/Home/Config/LookupItems,event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Adult med/surg" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[1]]></lookupValue>
  </Properties>
</Content>