<?xml version="1.0" encoding="utf-8"?>
<Content Key="6464b2d5-f4f9-4bc9-87bd-c67b558bcac0" Alias="event-location-ambulatory-surgery" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">event-location</Parent>
    <Path>/Home/Config/LookupItems,event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Ambulatory surgery" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[2]]></lookupValue>
  </Properties>
</Content>