<?xml version="1.0" encoding="utf-8"?>
<Content Key="6464b2d5-f4f9-4bc9-87bd-c67b558bcac0" Alias="event-location-ambulatory-surgery" Level="5">
  <Info>
    <Parent Key="e9b50e5e-c8ec-450f-8d57-191a4e945404">event-location</Parent>
    <Path>/Home/Config/LookupItems/event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Ambulatory surgery" />
  <SortOrder>2</SortOrder></Info>
  <Properties>
    <lookupValue><Value>2</Value></lookupValue>
  </Properties>
</Content>