<?xml version="1.0" encoding="utf-8"?>
<Content Key="e450f174-4eec-456a-a7fb-bb79fdf1c2c5" Alias="event-location-behavioral-health-psych" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">event-location</Parent>
    <Path>/Home/Config/LookupItems,event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Behavioral health/psych" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[3]]></lookupValue>
  </Properties>
</Content>