<?xml version="1.0" encoding="utf-8"?>
<Content Key="e450f174-4eec-456a-a7fb-bb79fdf1c2c5" Alias="event-location-behavioral-health-psych" Level="5">
  <Info>
    <Parent Key="e9b50e5e-c8ec-450f-8d57-191a4e945404">event-location</Parent>
    <Path>/Home/Config/LookupItems/event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Behavioral health/psych" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[3]]></Value></lookupValue>
  </Properties>
</Content>