<?xml version="1.0" encoding="utf-8"?>
<Content Key="067e8258-cf15-45f4-b1f8-b5c3fe79f6eb" Alias="event-location-diagnostic-labs" Level="5">
  <Info>
    <Parent Key="e9b50e5e-c8ec-450f-8d57-191a4e945404">event-location</Parent>
    <Path>/Home/Config/LookupItems/event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Diagnostic/Labs" />
  <SortOrder>5</SortOrder></Info>
  <Properties>
    <lookupValue><Value>5</Value></lookupValue>
  </Properties>
</Content>