<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e54b2c0-6613-46a2-a505-769a6ffe7a88" Alias="event-location-dialysis-unit" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">event-location</Parent>
    <Path>/Home/Config/LookupItems/event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Dialysis unit" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[6]]></lookupValue>
  </Properties>
</Content>