<?xml version="1.0" encoding="utf-8"?>
<Content Key="2848decf-7a69-46cc-8b9a-0d8d4114dcc9" Alias="event-location-emergency-department" Level="5">
  <Info>
    <Parent Key="e9b50e5e-c8ec-450f-8d57-191a4e945404">event-location</Parent>
    <Path>/Home/Config/LookupItems/event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Emergency Department" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[7]]></Value></lookupValue>
  </Properties>
</Content>