<?xml version="1.0" encoding="utf-8"?>
<Content Key="66cfd0fb-9a4b-4bdc-a86b-32076ea15dc8" Alias="event-location-hallway-common-area" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">event-location</Parent>
    <Path>/Home/Config/LookupItems/event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Hallway/common area" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[9]]></lookupValue>
  </Properties>
</Content>