<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a5f2ce4-ecc4-41e4-a670-c55a4152e5fd" Alias="event-location-icu-ccu" Level="5">
  <Info>
    <Parent Key="e9b50e5e-c8ec-450f-8d57-191a4e945404">event-location</Parent>
    <Path>/Home/Config/LookupItems/event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="ICU/CCU" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[10]]></Value></lookupValue>
  </Properties>
</Content>