<?xml version="1.0" encoding="utf-8"?>
<Content Key="addf0811-2226-4c9c-b39c-0f3e6f82f277" Alias="event-location-in-transit" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">event-location</Parent>
    <Path>/Home/Config/LookupItems,event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="In transit" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[11]]></lookupValue>
  </Properties>
</Content>