<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8035069-f726-4fdb-b6c3-8f5dcad2e98c" Alias="event-location-nicu-picu" Level="5">
  <Info>
    <Parent Key="e9b50e5e-c8ec-450f-8d57-191a4e945404">event-location</Parent>
    <Path>/Home/Config/LookupItems/event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="NICU/PICU" />
  <SortOrder>12</SortOrder></Info>
  <Properties>
    <lookupValue><Value>12</Value></lookupValue>
  </Properties>
</Content>