<?xml version="1.0" encoding="utf-8"?>
<Content Key="16a437fa-c4e7-421a-be76-b9e9250a336f" Alias="event-location-ob-gyn" Level="5">
  <Info>
    <Parent Key="e9b50e5e-c8ec-450f-8d57-191a4e945404">event-location</Parent>
    <Path>/Home/Config/LookupItems/event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="OB/Gyn" />
  <SortOrder>13</SortOrder></Info>
  <Properties>
    <lookupValue><Value>13</Value></lookupValue>
  </Properties>
</Content>