<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec3347bb-ef83-4056-9fbf-3d422ffe82d1" Alias="event-location-other" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">event-location</Parent>
    <Path>/Home/Config/LookupItems,event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[20]]></lookupValue>
  </Properties>
</Content>