<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f9e5622-336d-48b5-a4e6-0a49e8496c0b" Alias="event-location-other-outpatient-services" Level="5">
  <Info>
    <Parent Key="e9b50e5e-c8ec-450f-8d57-191a4e945404">event-location</Parent>
    <Path>/Home/Config/LookupItems/event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other outpatient services" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[15]]></lookupValue>
  </Properties>
</Content>