<?xml version="1.0" encoding="utf-8"?>
<Content Key="17ee6109-3d89-4396-9d8c-8fb33e2011a9" Alias="event-location-rehabilitation-services" Level="5">
  <Info>
    <Parent Key="e9b50e5e-c8ec-450f-8d57-191a4e945404">event-location</Parent>
    <Path>/Home/Config/LookupItems/event-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Rehabilitation Services" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[19]]></Value></lookupValue>
  </Properties>
</Content>