<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="c9d0e1f2-a3b4-5678-9012-345678ijklmn" Alias="abnormality-type">
  <Info>
    <Name>Abnormality Type</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"f8e9d7c6-b5a4-4321-9876-543210fedcba\",\"dynamicRoot\":{\"originKey\":\"f8e9d7c6-b5a4-4321-9876-543210fedcba\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>

