<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="429c4981-4fcb-403d-8ccf-c22cded4a017" Alias="Body Site">
  <Info>
    <Name>Body Site</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"caa7692b-b904-4531-8189-b131d6dc4360\",\"dynamicRoot\":{\"originKey\":\"caa7692b-b904-4531-8189-b131d6dc4360\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>
