<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="57cae1b5-b335-4007-b820-a9dbadda8a4c" Alias="Cap Methodology">
  <Info>
    <Name>Cap Methodology</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"c072b5b3-3989-45fa-b5c7-fcd84a7f2978\",\"dynamicRoot\":{\"originKey\":\"c072b5b3-3989-45fa-b5c7-fcd84a7f2978\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>
