<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1f9ce69-5a1f-4ff8-b553-b62472f8bf58" Alias="Cap Methodology" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/capmethodology</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Cap Methodology" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>