<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="57cae1b5-b335-4007-b820-a9dbadda8a4c" Alias="Cap Methodology">
  <Info>
    <Name>Cap Methodology</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"b1f9ce69-5a1f-4ff8-b553-b62472f8bf58\",\"dynamicRoot\":{\"originKey\":\"b1f9ce69-5a1f-4ff8-b553-b62472f8bf58\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>