<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2e4b0a9-294e-44f7-b731-b0dc898fd7c0" Alias="Communication Breakdown Point" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/communicationbreakdownpoint</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Communication Breakdown Point" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>