<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="30f726b9-d938-4d05-ac33-196023e85c6c" Alias="Communication Information Subcategory">
  <Info>
    <Name>Communication Information Subcategory</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"86cbdeb4-0e82-4192-ba9d-6a1b36b20ad2\",\"dynamicRoot\":{\"originKey\":\"86cbdeb4-0e82-4192-ba9d-6a1b36b20ad2\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>