<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="e43612d2-7165-4918-984f-11f0428dfa05" Alias="Communication Breakdown Point">
  <Info>
    <Name>Communication Breakdown Point</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"f2e4b0a9-294e-44f7-b731-b0dc898fd7c0\",\"dynamicRoot\":{\"originKey\":\"f2e4b0a9-294e-44f7-b731-b0dc898fd7c0\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>