<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="a8a52cc3-f41f-472e-8e09-854717028a21" Alias="Communication Failure Timing">
  <Info>
    <Name>Communication Failure Timing</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"ab2f4085-0f43-419f-938f-9c8071ff2c6d\",\"dynamicRoot\":{\"originKey\":\"ab2f4085-0f43-419f-938f-9c8071ff2c6d\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>