<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="64b20db8-d1d5-4924-9b12-25181679fd80" Alias="Corrective Action Intervention">
  <Info>
    <Name>Corrective Action Intervention</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"9dbd25e3-d624-4c17-a376-2467f56de5fb\",\"dynamicRoot\":{\"originKey\":\"9dbd25e3-d624-4c17-a376-2467f56de5fb\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>