<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2a76067-26f2-4e49-bbc1-93cbafc2f5fc" Alias="Corrective Action Intervention" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/corrective-action-intervention</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Corrective Action Intervention" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>