<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="1df2b460-d0a2-43c3-8fe1-a458f9102430" Alias="Device Category">
  <Info>
    <Name>Device Category</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"87772cef-93ce-462a-9a0c-f4f56f62907b\",\"dynamicRoot\":{\"originKey\":\"87772cef-93ce-462a-9a0c-f4f56f62907b\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>