<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="6dddf976-bc9f-4528-b934-e0b319fc5c82" Alias="Electronic Communication Subcategory">
  <Info>
    <Name>Electronic Communication Subcategory</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"25b745f5-712d-4cad-b340-d805d66ea42a\",\"dynamicRoot\":{\"originKey\":\"25b745f5-712d-4cad-b340-d805d66ea42a\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>