<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="97c9055e-67d8-4da7-8a3f-79404811ab28" Alias="Error Type">
  <Info>
    <Name>Error Type</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"07159791-5e49-496d-9b61-efe7c1fa496e\",\"dynamicRoot\":{\"originKey\":\"07159791-5e49-496d-9b61-efe7c1fa496e\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>