<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="f29efd76-5e93-40e3-8069-dbe60947f4b5" Alias="Event Time">
  <Info>
    <Name>Event Time</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"58d722ec-1d54-4219-843e-6367bcf6477a\",\"dynamicRoot\":{\"originKey\":\"58d722ec-1d54-4219-843e-6367bcf6477a\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>