<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="ebaefa37-19e6-4f79-85ef-e742480bc9c8" Alias="Event Location">
  <Info>
    <Name>Event Location</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"5d641e0d-f5f7-4805-884b-8fedada26b1d\",\"dynamicRoot\":{\"originKey\":\"5d641e0d-f5f7-4805-884b-8fedada26b1d\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>