<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="6fd5f782-abbb-49e5-8b75-cb0d5562ebc4" Alias="Fall Location">
  <Info>
    <Name>Fall Location</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"d9ed7411-590c-44c8-af66-9677625b93b2\",\"dynamicRoot\":{\"originKey\":\"d9ed7411-590c-44c8-af66-9677625b93b2\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>