<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7f35f6c-9ba5-4f8a-b7e5-40b26e80b33c" Alias="Fall Prevention Measures" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/fallpreventionmeasures</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Fall Prevention Measures" />
    <SortOrder>24</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>