<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="c18ea27c-dcde-4449-af51-cc416f5b2b00" Alias="Fall Injury">
  <Info>
    <Name>Fall Injury</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"c38740d4-fc73-464f-8e3d-2292b9fc643a\",\"dynamicRoot\":{\"originKey\":\"c38740d4-fc73-464f-8e3d-2292b9fc643a\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>