<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="ac355b0d-28ae-48f7-9063-62f3278ee38d" Alias="Fall Prevention Measures">
  <Info>
    <Name>Fall Prevention Measures</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"f7f35f6c-9ba5-4f8a-b7e5-40b26e80b33c\",\"dynamicRoot\":{\"originKey\":\"f7f35f6c-9ba5-4f8a-b7e5-40b26e80b33c\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>