<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="df17d39a-584b-486c-be88-0fe463c19225" Alias="Harm Type">
  <Info>
    <Name>Harm Type</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"bb6b21d4-2a6e-4e56-b8a5-706582171c67\",\"dynamicRoot\":{\"originKey\":\"bb6b21d4-2a6e-4e56-b8a5-706582171c67\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>