<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="cc76ad28-96c8-4461-a8fa-c13af82a82f0" Alias="Human Factors Subcategory">
  <Info>
    <Name>Human Factors Subcategory</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"c7a2f14c-248a-4f1c-81ae-271662f1ef89\",\"dynamicRoot\":{\"originKey\":\"c7a2f14c-248a-4f1c-81ae-271662f1ef89\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>