<?xml version="1.0" encoding="utf-8"?>
<Content Key="29eb69a0-0a94-4a52-ad67-d3e206d28f24" Alias="Injury Severity" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/injuryseverity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Injury Severity" />
    <SortOrder>27</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>