<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="38457a92-2e76-4bb7-bff3-4df4e8f78462" Alias="Injury Severity">
  <Info>
    <Name>Injury Severity</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"29eb69a0-0a94-4a52-ad67-d3e206d28f24\",\"dynamicRoot\":{\"originKey\":\"29eb69a0-0a94-4a52-ad67-d3e206d28f24\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>