<?xml version="1.0" encoding="utf-8"?>
<Content Key="e86eb2f2-9fb5-4a1b-8894-a6330ac4013a" Alias="Organizational Culture Subcategory" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/organizational-culture-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Organizational Culture Subcategory" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>