<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="6503d6f6-ac48-49b6-b973-a3ffd80e8bcf" Alias="Organizational Culture Subcategory">
  <Info>
    <Name>Organizational Culture Subcategory</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"0dd291e2-23a6-4873-b38e-653cce03947f\",\"dynamicRoot\":{\"originKey\":\"0dd291e2-23a6-4873-b38e-653cce03947f\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>