<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="9f073102-9284-418e-8b7f-32b3c1ee6bed" Alias="Patient Race">
  <Info>
    <Name>Patient Race</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"a5903c46-4125-466a-94e6-54c683117f46\",\"dynamicRoot\":{\"originKey\":\"a5903c46-4125-466a-94e6-54c683117f46\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>