<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="2d0f9926-0dc2-415e-9278-645e18d37e24" Alias="Patient Type">
  <Info>
    <Name>Patient Type</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"c024d310-e046-43d2-83b2-174b3f6c5bb1\",\"dynamicRoot\":{\"originKey\":\"c024d310-e046-43d2-83b2-174b3f6c5bb1\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>