<?xml version="1.0" encoding="utf-8"?>
<Content Key="1de1f31e-7166-453a-8991-b3fef0f07b4c" Alias="Patient Ethnicity" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/patientethnicity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Patient Ethnicity" />
    <SortOrder>30</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>