<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="ea43d5b6-b6ed-4680-a2b5-1c6c021cb05b" Alias="Patient Language">
  <Info>
    <Name>Patient Language</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"33f44312-b0b6-42ad-a2a6-aeb2766ac274\",\"dynamicRoot\":{\"originKey\":\"33f44312-b0b6-42ad-a2a6-aeb2766ac274\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>