<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="d53e2d5e-9313-4665-8266-545085c5efc4" Alias="Patient Age">
  <Info>
    <Name>Patient Age</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"4773c6df-2b95-4d1e-88d1-d2c3bc3087c0\",\"dynamicRoot\":{\"originKey\":\"4773c6df-2b95-4d1e-88d1-d2c3bc3087c0\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>
