<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="8677db26-1e86-4627-a604-922317d7feee" Alias="Patient Ethnicity">
  <Info>
    <Name>Patient Ethnicity</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"1de1f31e-7166-453a-8991-b3fef0f07b4c\",\"dynamicRoot\":{\"originKey\":\"1de1f31e-7166-453a-8991-b3fef0f07b4c\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>