<?xml version="1.0" encoding="utf-8"?>
<PreValueSource Key="f1e2d3c4-b5a6-7890-cdef-123456789abc" Alias="PC2" Level="0">
  <Info>
    <Name>PC2</Name>
    <Alias>PC2</Alias>
    <Key>f1e2d3c4-b5a6-7890-cdef-123456789abc</Key>
    <CreateDate>2025-10-03T17:40:00.0000000Z</CreateDate>
    <ModifyDate>2025-10-03T17:40:00.0000000Z</ModifyDate>
  </Info>
  <Definition>
    <![CDATA[{
      "value": "PC2",
      "createdBy": -1,
      "updatedBy": -1,
      "settings": {
        "RootNode": "{\"type\":\"content\",\"id\":\"a1b2c3d4-e5f6-7890-abcd-ef1234567890\",\"dynamicRoot\":{\"originKey\":\"a1b2c3d4-e5f6-7890-abcd-ef1234567890\",\"originAlias\":\"ByKey\"}}",
        "UseCurrentPage": "False",
        "DocType": "lookupItem",
        "ValueField": "lookupValue",
        "CaptionField": "",
        "ListGrandChildren": "False",
        "OrderBy": "Node order"
      },
      "fieldPreValueSourceTypeId": "de996870-c45a-11de-8a39-0800200c9a66",
      "cachePrevaluesFor": "-00:00:00.0010000",
      "id": 41,
      "key": "f1e2d3c4-b5a6-7890-cdef-123456789abc",
      "createDate": "2025-10-03T17:40:00.0000000Z",
      "updateDate": "2025-10-03T17:40:00.0000000Z",
      "deleteDate": null,
      "hasIdentity": true
    }]]>
  </Definition>
</PreValueSource>
