<?xml version="1.0" encoding="utf-8"?>
<Content Key="31613f08-b717-461d-bca4-5cf0d5b5bd58" Alias="Physical Environment Subcategory" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/physicalenvironmentsubcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Physical Environment Subcategory" />
    <SortOrder>34</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>