<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="29e915c2-78a2-4e71-83b7-732d52f8aac0" Alias="Physical Environment Subcategory">
  <Info>
    <Name>Physical Environment Subcategory</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"31613f08-b717-461d-bca4-5cf0d5b5bd58\",\"dynamicRoot\":{\"originKey\":\"31613f08-b717-461d-bca4-5cf0d5b5bd58\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>