<?xml version="1.0" encoding="utf-8"?>
<Content Key="e34478ef-8f03-4b99-8886-6249c33bca41" Alias="Pressure Ulcer Stage" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/pressure-ulcer-stage</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Pressure Ulcer Stage" />
    <SortOrder>25</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>