<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="a2ec09a9-3757-4941-a000-0846833c5ead" Alias="Pressure Ulcer Stage">
  <Info>
    <Name>Pressure Ulcer Stage</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"c7b6aaec-7a03-41c9-91c5-81b570689943\",\"dynamicRoot\":{\"originKey\":\"c7b6aaec-7a03-41c9-91c5-81b570689943\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>