<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="6f2a1c4e-ff8a-4a8b-8a77-ec35f3b2b68e" Alias="Procedure Type">
  <Info>
    <Name>Procedure Type</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"ef2a7995-af9b-4b24-8224-0e90b77d0e8a\",\"dynamicRoot\":{\"originKey\":\"ef2a7995-af9b-4b24-8224-0e90b77d0e8a\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>