<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="d071c540-7e37-46f8-a25a-94925f44c647" Alias="Process Stage">
  <Info>
    <Name>Process Stage</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"9c2a994d-b12a-4197-bbd3-a81fa800efea\",\"dynamicRoot\":{\"originKey\":\"9c2a994d-b12a-4197-bbd3-a81fa800efea\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>