<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="e32f2c14-9cfe-41d3-aea4-12c39ae288f0" Alias="Procedure Category">
  <Info>
    <Name>Procedure Category</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"5ce87c2d-d0b1-4124-a030-876a0ca97fb9\",\"dynamicRoot\":{\"originKey\":\"5ce87c2d-d0b1-4124-a030-876a0ca97fb9\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>