<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="8581032f-6806-4bac-a1f5-11e1159ea26d" Alias="Retained Object Type">
  <Info>
    <Name>Retained Object Type</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"908bf913-b1dd-489b-aa70-c8ab51ae62da\",\"dynamicRoot\":{\"originKey\":\"908bf913-b1dd-489b-aa70-c8ab51ae62da\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>