<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="72ee27d3-f227-4c0f-9f96-13e480991f72" Alias="Root Cause Category">
  <Info>
    <Name>Root Cause Category</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"ce0b30dd-10c8-4f82-a6b7-ba9a6457df05\",\"dynamicRoot\":{\"originKey\":\"ce0b30dd-10c8-4f82-a6b7-ba9a6457df05\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>