<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="edeb1918-c2a9-4069-b897-eeae2ca26eb0" Alias="Rules Policies Procedures Subcategory">
  <Info>
    <Name>Rules Policies Procedures Subcategory</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"e9da1a32-0eff-41c9-b301-45796eafbc12\",\"dynamicRoot\":{\"originKey\":\"e9da1a32-0eff-41c9-b301-45796eafbc12\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>