<?xml version="1.0" encoding="utf-8"?>
<Content Key="28db18f7-844b-4fdd-ab26-de204f93c417" Alias="Rules Policies Procedures Subcategory" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/rules-policies-procedures-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Rules Policies Procedures Subcategory" />
    <SortOrder>31</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>