<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="a181e703-e1ce-4bc5-93ce-dee2ef5741ca" Alias="Soft Good Type">
  <Info>
    <Name>Soft Good Type</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"200f86f3-6a27-48c0-aa8d-2a7965dd1652\",\"dynamicRoot\":{\"originKey\":\"200f86f3-6a27-48c0-aa8d-2a7965dd1652\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>