<?xml version="1.0" encoding="utf-8"?>
<Content Key="200f86f3-6a27-48c0-aa8d-2a7965dd1652" Alias="Soft Good Type" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/softgoodtype</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Soft Good Type" />
    <SortOrder>42</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>