<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="0c602ea6-97b0-4729-bc8a-7b38109423e1" Alias="Specimen Loss Location">
  <Info>
    <Name>Specimen Loss Location</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"a71fbaad-9522-47d7-88fb-33581a1eedb3\",\"dynamicRoot\":{\"originKey\":\"a71fbaad-9522-47d7-88fb-33581a1eedb3\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>