<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="cb40df3f-2e01-4e74-a9fa-2fcd872eae7f" Alias="Specimen Contributing Factors">
  <Info>
    <Name>Specimen Contributing Factors</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"7abc3231-4bd2-440b-8564-07e947fda423\",\"dynamicRoot\":{\"originKey\":\"7abc3231-4bd2-440b-8564-07e947fda423\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>