<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4c12cf8-92f7-454a-a4c4-7696246393c6" Alias="Specimen Loss Reason" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/specimenlossreason</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Specimen Loss Reason" />
    <SortOrder>45</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>