<?xml version="1.0" encoding="utf-8"?>
<Content Key="7abc3231-4bd2-440b-8564-07e947fda423" Alias="Specimen Contributing Factors" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/specimencontributingfactors</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Specimen Contributing Factors" />
    <SortOrder>43</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>