<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="9cb5894d-8329-4c92-a5e5-fe8a2b0bd33e" Alias="Specimen Loss Reason">
  <Info>
    <Name>Specimen Loss Reason</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"a4c12cf8-92f7-454a-a4c4-7696246393c6\",\"dynamicRoot\":{\"originKey\":\"a4c12cf8-92f7-454a-a4c4-7696246393c6\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>