<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="6da86bec-40c2-4c60-b3c0-8801ef65e551" Alias="Stage When First Identified">
  <Info>
    <Name>Stage When First Identified</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"f9fdff66-b182-4f9c-84dc-35643bbad216\",\"dynamicRoot\":{\"originKey\":\"f9fdff66-b182-4f9c-84dc-35643bbad216\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>