<?xml version="1.0" encoding="utf-8"?>
<Content Key="514a929e-4b24-4db3-b9f1-2ed39476e7ee" Alias="Stage When First Identified" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/stage-when-first-identified</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Stage When First Identified" />
    <SortOrder>36</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>