<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9fdff66-b182-4f9c-84dc-35643bbad216" Alias="Stage When First Identified" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/stagewhenfirstidentified</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Stage When First Identified" />
    <SortOrder>46</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>