<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="3959731b-2be4-4a7b-b80a-174bcc33da29" Alias="Toileting Fall Location">
  <Info>
    <Name>Toileting Fall Location</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"dbc58934-6b77-4a3a-96e9-6e532b1ef6f8\",\"dynamicRoot\":{\"originKey\":\"dbc58934-6b77-4a3a-96e9-6e532b1ef6f8\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>