<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="79c68725-a0de-49e1-b8c1-70fd2f4f3a19" Alias="Training Education Subcategory">
  <Info>
    <Name>Training Education Subcategory</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"a2424fee-e264-43e0-982b-fa2e7c03af72\",\"dynamicRoot\":{\"originKey\":\"a2424fee-e264-43e0-982b-fa2e7c03af72\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>