<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="c3d4e5f6-a7b8-9012-3456-789012cdefabc" Alias="type-of-surgery">
  <Info>
    <Name>Type of Surgery</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"b2c3d4e5-f6a7-8901-2345-678901bcdefab\",\"dynamicRoot\":{\"originKey\":\"b2c3d4e5-f6a7-8901-2345-678901bcdefab\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>
