<?xml version="1.0" encoding="utf-8"?>
<Content Key="61ae4c35-5ad7-4a1f-817f-d0a6099ba49c" Alias="Type Of Harm" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/typeofharm</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Type Of Harm" />
    <SortOrder>49</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>