<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="6fef083a-e218-47ec-8bf1-9ecf2fe4ac6e" Alias="Type Of Harm">
  <Info>
    <Name>Type Of Harm</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"61ae4c35-5ad7-4a1f-817f-d0a6099ba49c\",\"dynamicRoot\":{\"originKey\":\"61ae4c35-5ad7-4a1f-817f-d0a6099ba49c\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>