<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="6768c510-cea2-4bef-82fb-e3588a357f9d" Alias="Underlying Conditions">
  <Info>
    <Name>Underlying Conditions</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "RootNode": "{\"type\":\"content\",\"id\":\"7f4c7fad-650c-4968-b6b8-725456225644\",\"dynamicRoot\":{\"originKey\":\"7f4c7fad-650c-4968-b6b8-725456225644\",\"originAlias\":\"ByKey\"}}",
  "UseCurrentPage": "False",
  "DocType": "lookupItem",
  "ValueField": "lookupValue",
  "CaptionField": "",
  "ListGrandChildren": "False",
  "OrderBy": "Node order"
}</Settings>
</PreValue>