<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f4c7fad-650c-4968-b6b8-725456225644" Alias="Underlying Conditions" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/underlyingconditions</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T14:32:47</CreateDate>
    <NodeName Default="Underlying Conditions" />
    <SortOrder>50</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>