<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ae55cf4-db9a-4bb0-8afc-4485540291a1" Alias="injury-severity-error-but-no-reach" Level="5">
  <Info>
    <Parent Key="a3278035-697d-4c6f-9c8f-3c3376583ea7">injury-severity</Parent>
    <Path>/Home/Config/LookupItems/injury-severity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Error but No Reach" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[4]]></lookupValue>
  </Properties>
</Content>