<?xml version="1.0" encoding="utf-8"?>
<Content Key="828bf22c-8567-4f0b-ad1b-3bf17312b28f" Alias="injury-severity-longer-stay-required" Level="5">
  <Info>
    <Parent Key="a3278035-697d-4c6f-9c8f-3c3376583ea7">injury-severity</Parent>
    <Path>/Home/Config/LookupItems/injury-severity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Longer Stay Required" />
  <SortOrder>8</SortOrder></Info>
  <Properties>
    <lookupValue><Value>8</Value></lookupValue>
  </Properties>
</Content>