<?xml version="1.0" encoding="utf-8"?>
<Content Key="a528301d-f76f-4f39-adf7-f454f024b242" Alias="injury-severity-monitoring-required" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">injury-severity</Parent>
    <Path>/Home/Config/LookupItems/injury-severity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Monitoring Required" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[6]]></lookupValue>
  </Properties>
</Content>