<?xml version="1.0" encoding="utf-8"?>
<Content Key="e55ace24-b01f-4f99-92a0-3b71ac3b6866" Alias="injury-severity-potential" Level="5">
  <Info>
    <Parent Key="a3278035-697d-4c6f-9c8f-3c3376583ea7">injury-severity</Parent>
    <Path>/Home/Config/LookupItems/injury-severity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Potential" />
  <SortOrder>3</SortOrder></Info>
  <Properties>
    <lookupValue><Value>3</Value></lookupValue>
  </Properties>
</Content>