<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bbdd213-f8a3-4bbe-a4bd-78d047279d1d" Alias="injury-severity-reach-but-no-harm" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">injury-severity</Parent>
    <Path>/Home/Config/LookupItems,injury-severity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Reach but No Harm" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[5]]></lookupValue>
  </Properties>
</Content>