<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bbdd213-f8a3-4bbe-a4bd-78d047279d1d" Alias="injury-severity-reach-but-no-harm" Level="5">
  <Info>
    <Parent Key="a3278035-697d-4c6f-9c8f-3c3376583ea7">injury-severity</Parent>
    <Path>/Home/Config/LookupItems/injury-severity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Reach but No Harm" />
  <SortOrder>5</SortOrder></Info>
  <Properties>
    <lookupValue><Value>5</Value></lookupValue>
  </Properties>
</Content>