<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6fb3c5b-8a3d-46f4-b07f-a6898f0d5a90" Alias="injury-severity-serious-injury" Level="5">
  <Info>
    <Parent Key="a3278035-697d-4c6f-9c8f-3c3376583ea7">injury-severity</Parent>
    <Path>/Home/Config/LookupItems/injury-severity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Serious Injury" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[2]]></Value></lookupValue>
  </Properties>
</Content>