<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b0d71ee-ecb8-4c2e-8e1f-2f93730c4d91" Alias="stage-when-first-identified-dtpi" Level="5">
  <Info>
    <Parent Key="2325b7a3-e1e1-42ad-964b-468241afa739">stage-when-first-identified</Parent>
    <Path>/Home/Config/LookupItems/stage-when-first-identified/stage-when-first-identified</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="DTPI" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[1]]></lookupValue>
  </Properties>
</Content>