<?xml version="1.0" encoding="utf-8"?>
<Content Key="0277bdab-f378-4440-b9e5-524e0cfe66e4" Alias="stage-when-first-identified-muscosal" Level="5">
  <Info>
    <Parent Key="2325b7a3-e1e1-42ad-964b-468241afa739">stage-when-first-identified</Parent>
    <Path>/Home/Config/LookupItems/stage-when-first-identified/stage-when-first-identified</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Muscosal" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>7</Value></lookupValue>
  </Properties>
</Content>