<?xml version="1.0" encoding="utf-8"?>
<Content Key="befa047b-5b45-4b12-a7d3-f581e98f15a3" Alias="stage-when-first-identified-stage-iii-3" Level="5">
  <Info>
    <Parent Key="2325b7a3-e1e1-42ad-964b-468241afa739">stage-when-first-identified</Parent>
    <Path>/Home/Config/LookupItems/stage-when-first-identified/stage-when-first-identified</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Stage III (3)" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[4]]></Value></lookupValue>
  </Properties>
</Content>