<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd6c377e-4eba-42a1-a018-80a2e02a4b7e" Alias="patient-race-american-indian-alaska-native" Level="5">
  <Info>
    <Parent Key="c6d2264e-db65-4231-abe2-40620846c5e4">patient-race</Parent>
    <Path>/Home/Config/LookupItems/patient-race</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="American Indian/Alaska Native" />
  <SortOrder>1</SortOrder></Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>