<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bfa2c7e-0f57-43b5-ad48-d93231dc7c16" Alias="patient-race-black-or-african-american" Level="5">
  <Info>
    <Parent Key="c6d2264e-db65-4231-abe2-40620846c5e4">patient-race</Parent>
    <Path>/Home/Config/LookupItems/patient-race</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Black or African American" />
  <SortOrder>3</SortOrder></Info>
  <Properties>
    <lookupValue><Value>3</Value></lookupValue>
  </Properties>
</Content>