<?xml version="1.0" encoding="utf-8"?>
<Content Key="9686e3fe-45d8-4bca-bfe3-9195f9944b3a" Alias="patient-race-multiple" Level="5">
  <Info>
    <Parent Key="c6d2264e-db65-4231-abe2-40620846c5e4">patient-race</Parent>
    <Path>/Home/Config/LookupItems/patient-race</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Multiple" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[5]]></lookupValue>
  </Properties>
</Content>