<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc5b9f0c-d2ff-45a7-9803-aec673091b08" Alias="patient-race-other" Level="5">
  <Info>
    <Parent Key="c6d2264e-db65-4231-abe2-40620846c5e4">patient-race</Parent>
    <Path>/Home/Config/LookupItems/patient-race</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[7]]></Value></lookupValue>
  </Properties>
</Content>