<?xml version="1.0" encoding="utf-8"?>
<Content Key="f104ac59-52a1-49d3-b8ff-681c15d75c6a" Alias="patient-race-unknown-not-provided" Level="5">
  <Info>
    <Parent Key="c6d2264e-db65-4231-abe2-40620846c5e4">patient-race</Parent>
    <Path>/Home/Config/LookupItems/patient-race</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Unknown/Not Provided" />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[6]]></Value></lookupValue>
  </Properties>
</Content>