<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b7506d5-4449-4fdd-a1a1-7e2ac6d0fd8a" Alias="patient-race-white-caucasian" Level="5">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">patient-race</Parent>
    <Path>/Home/Config/LookupItems/patient-race</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="White/Caucasian" />
  </Info>
  <Properties>
    <lookupValue><![CDATA[4]]></lookupValue>
  </Properties>
</Content>