<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddfbbb62-c27b-48e6-8678-0a6a3d9d0de5" Alias="error-type-omission" Level="5">
  <Info>
    <Parent Key="3f21c1a2-40be-438d-9f77-dfa3fe10afd8">error-type</Parent>
    <Path>/Home/Config/LookupItems/error-type/error-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Omission" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[1]]></Value></lookupValue>
  </Properties>
</Content>