<?xml version="1.0" encoding="utf-8"?>
<Content Key="63dc9461-1b6f-46ad-a983-91e3628f3cf9" Alias="error-type-other" Level="5">
  <Info>
    <Parent Key="3f21c1a2-40be-438d-9f77-dfa3fe10afd8">error-type</Parent>
    <Path>/Home/Config/LookupItems/error-type/error-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>7</Value></lookupValue>
  </Properties>
</Content>