<?xml version="1.0" encoding="utf-8"?>
<Content Key="97cd4f7b-a736-497d-9005-caeb6d66f9ac" Alias="error-type-wrong-time" Level="5">
  <Info>
    <Parent Key="3f21c1a2-40be-438d-9f77-dfa3fe10afd8">error-type</Parent>
    <Path>/Home/Config/LookupItems/error-type/error-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Wrong Time" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[5]]></lookupValue>
  </Properties>
</Content>