<?xml version="1.0" encoding="utf-8"?>
<Content Key="358a49ec-000d-400d-867d-68b6199bf820" Alias="error-type-wrong-route" Level="5">
  <Info>
    <Parent Key="3f21c1a2-40be-438d-9f77-dfa3fe10afd8">error-type</Parent>
    <Path>/Home/Config/LookupItems/error-type/error-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Wrong Route" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[4]]></lookupValue>
  </Properties>
</Content>