<?xml version="1.0" encoding="utf-8"?>
<Content Key="335d23fe-ffc3-4014-9f06-16f87ecc6aae" Alias="communication-breakdown-point" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">LookupItems</Parent>
    <Path>/Home/Config/LookupItems/communication-breakdown-point</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Communication Breakdown Point" />
    <SortOrder>115</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>