<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d1c1aee-a7b3-4d99-bff3-235525c12f32" Alias="communication-breakdown-point-other" Level="5">
  <Info>
    <Parent Key="335d23fe-ffc3-4014-9f06-16f87ecc6aae">communication-breakdown-point</Parent>
    <Path>/Home/Config/LookupItems/communication-breakdown-point/communication-breakdown-point</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[57]]></Value></lookupValue>
  </Properties>
</Content>