<?xml version="1.0" encoding="utf-8"?>
<Content Key="84a8128f-3e1c-49b1-9671-a896e6e9edcb" Alias="communication-breakdown-point-provider-to-authorized-representative" Level="5">
  <Info>
    <Parent Key="335d23fe-ffc3-4014-9f06-16f87ecc6aae">communication-breakdown-point</Parent>
    <Path>/Home/Config/LookupItems/communication-breakdown-point/communication-breakdown-point</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="provider to authorized representative" />
    <SortOrder>56</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>56</Value></lookupValue>
  </Properties>
</Content>