<?xml version="1.0" encoding="utf-8"?>
<Content Key="28796101-d439-488e-a830-7c02228ed9e6" Alias="communication-breakdown-point-provider-to-provider" Level="5">
  <Info>
    <Parent Key="335d23fe-ffc3-4014-9f06-16f87ecc6aae">communication-breakdown-point</Parent>
    <Path>/Home/Config/LookupItems/communication-breakdown-point/communication-breakdown-point</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="provider to provider" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[54]]></Value></lookupValue>
  </Properties>
</Content>