<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4f5a6b7-c8d9-1234-5678-901234ef0123" Alias="fowlers" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-1234-567890abcdef">patient-position</Parent>
    <Path>/Home/Config/LookupItems/patient-position/fowlers</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-01T00:00:00</CreateDate>
    <NodeName Default="Fowlers" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[4]]></Value>
    </lookupValue>
    <lookupText>
      <Value><![CDATA[Fowlers]]></Value>
    </lookupText>
    <sortOrder>
      <Value><![CDATA[4]]></Value>
    </sortOrder>
  </Properties>
</Content>
