<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7c8d9e0-f1a2-4567-8901-234567123456" Alias="jackknife" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-1234-567890abcdef">patient-position</Parent>
    <Path>/Home/Config/LookupItems/patient-position/jackknife</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-01T00:00:00</CreateDate>
    <NodeName Default="Jackknife" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[7]]></Value>
    </lookupValue>
    <lookupText>
      <Value><![CDATA[Jackknife]]></Value>
    </lookupText>
    <sortOrder>
      <Value><![CDATA[7]]></Value>
    </sortOrder>
  </Properties>
</Content>
