<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6b7c8d9-e0f1-3456-7890-123456012345" Alias="lateral" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-1234-567890abcdef">patient-position</Parent>
    <Path>/Home/Config/LookupItems/patient-position/lateral</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-01T00:00:00</CreateDate>
    <NodeName Default="Lateral" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[6]]></Value>
    </lookupValue>
    <lookupText>
      <Value><![CDATA[Lateral]]></Value>
    </lookupText>
    <sortOrder>
      <Value><![CDATA[6]]></Value>
    </sortOrder>
  </Properties>
</Content>
