<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8d9e0f1-a2b3-5678-9012-345678234567" Alias="other" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-1234-567890abcdef">patient-position</Parent>
    <Path>/Home/Config/LookupItems/patient-position/other</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-01T00:00:00</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <lookupValue><Value>8</Value></lookupValue>
  </Properties>
</Content>
