<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2d3e4f5-a6b7-9012-3456-789012cdef01" Alias="prone" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-1234-567890abcdef">patient-position</Parent>
    <Path>/Home/Config/LookupItems/patient-position/prone</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-01T00:00:00</CreateDate>
    <NodeName Default="Prone" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <lookupValue><Value>2</Value></lookupValue>
  </Properties>
</Content>
