<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1c2d3e4-f5a6-8901-2345-678901bcdef0" Alias="supine" Level="5">
  <Info>
    <Parent Key="a1b2c3d4-e5f6-7890-1234-567890abcdef">patient-position</Parent>
    <Path>/Home/Config/LookupItems/patient-position/supine</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-01T00:00:00</CreateDate>
    <NodeName Default="Supine" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>
