<?xml version="1.0" encoding="utf-8"?>
<Content Key="6634f364-8248-4ea8-b259-edce9a982618" Alias="underlying-conditions-delirium" Level="5">
  <Info>
    <Parent Key="670d09fc-d986-48de-8298-a68f6fdba8af">underlying-conditions</Parent>
    <Path>/Home/Config/LookupItems/underlying-conditions/underlying-conditions</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Delirium" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>2</Value></lookupValue>
  </Properties>
</Content>