<?xml version="1.0" encoding="utf-8"?>
<Content Key="cefb4b9e-80dd-4d5e-9c87-4bc2eb4203b0" Alias="underlying-conditions-other-cognitive-impairment-due-to-other-diagnosis-ie-stroke-memory-attention-judgement-impulsivity-deficit-awareness-etc" Level="5">
  <Info>
    <Parent Key="670d09fc-d986-48de-8298-a68f6fdba8af">underlying-conditions</Parent>
    <Path>/Home/Config/LookupItems/underlying-conditions/underlying-conditions</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other cognitive impairment due to other diagnosis (i.e. stroke, memory, attention, judgement, impulsivity, deficit awareness, etc.)" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>11</Value></lookupValue>
  </Properties>
</Content>