<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ba4bebb-34a8-4f5f-aea2-ddc331a191cd" Alias="harm-type-abnormal-heart-rate-or-blood-pressure" Level="5">
  <Info>
    <Parent Key="d2ae1785-c0e0-4409-8d89-6a1c9dce999a">harm-type</Parent>
    <Path>/Home/Config/LookupItems/harm-type/harm-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Abnormal heart rate or blood pressure" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>4</Value></lookupValue>
  </Properties>
</Content>