<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a3dc142-4ca8-4896-a477-ec5f3ed856d3" Alias="harm-type-allergic-reaction" Level="5">
  <Info>
    <Parent Key="d2ae1785-c0e0-4409-8d89-6a1c9dce999a">harm-type</Parent>
    <Path>/Home/Config/LookupItems/harm-type/harm-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Allergic reaction" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>5</Value></lookupValue>
  </Properties>
</Content>