<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb85511f-a3e1-4f35-9bc7-096285fb8138" Alias="harm-type-hemorrhage" Level="5">
  <Info>
    <Parent Key="d2ae1785-c0e0-4409-8d89-6a1c9dce999a">harm-type</Parent>
    <Path>/Home/Config/LookupItems/harm-type/harm-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Hemorrhage" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[3]]></Value></lookupValue>
  </Properties>
</Content>