<?xml version="1.0" encoding="utf-8"?>
<Content Key="9de4874b-cacf-478c-af29-6548e2d9b403" Alias="harm-type-hypoglycemia-hyperglycemia" Level="5">
  <Info>
    <Parent Key="d2ae1785-c0e0-4409-8d89-6a1c9dce999a">harm-type</Parent>
    <Path>/Home/Config/LookupItems/harm-type/harm-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Hypoglycemia/Hyperglycemia" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>