<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2dfc92a-9916-4f26-96b9-79caad8cafdf" Alias="harm-type-other" Level="5">
  <Info>
    <Parent Key="d2ae1785-c0e0-4409-8d89-6a1c9dce999a">harm-type</Parent>
    <Path>/Home/Config/LookupItems/harm-type/harm-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[6]]></lookupValue>
  </Properties>
</Content>