<?xml version="1.0" encoding="utf-8"?>
<Content Key="e48daa41-ee64-462f-915a-e9a75dbb2116" Alias="specimen-loss-location-internal-transport" Level="5">
  <Info>
    <Parent Key="380eab02-1b26-480c-932f-c01704e43697">specimen-loss-location</Parent>
    <Path>/Home/Config/LookupItems/specimen-loss-location/specimen-loss-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Internal transport" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>18</Value></lookupValue>
  </Properties>
</Content>