<?xml version="1.0" encoding="utf-8"?>
<Content Key="195b1b56-c280-4ef3-bc4c-1edff8ad5b77" Alias="specimen-loss-location-obtaining-specimen-collection" Level="5">
  <Info>
    <Parent Key="380eab02-1b26-480c-932f-c01704e43697">specimen-loss-location</Parent>
    <Path>/Home/Config/LookupItems/specimen-loss-location/specimen-loss-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Obtaining specimen/collection" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[20]]></Value></lookupValue>
  </Properties>
</Content>