<?xml version="1.0" encoding="utf-8"?>
<Content Key="3aa20b9c-d37a-4077-87cc-8315fba68a7b" Alias="specimen-loss-location-processing-specimen" Level="5">
  <Info>
    <Parent Key="380eab02-1b26-480c-932f-c01704e43697">specimen-loss-location</Parent>
    <Path>/Home/Config/LookupItems/specimen-loss-location/specimen-loss-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Processing specimen" />
    <SortOrder>21</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>21</Value></lookupValue>
  </Properties>
</Content>