<?xml version="1.0" encoding="utf-8"?>
<Content Key="9050cbb2-9e5a-4a73-99d4-4a28d5423202" Alias="specimen-loss-location-storage-of-specimen" Level="5">
  <Info>
    <Parent Key="380eab02-1b26-480c-932f-c01704e43697">specimen-loss-location</Parent>
    <Path>/Home/Config/LookupItems/specimen-loss-location/specimen-loss-location</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Storage of specimen" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[22]]></lookupValue>
  </Properties>
</Content>