<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4c0d5a9-1b6e-2c7f-3a4b-9e1f4c7d0a5b" Alias="Cardiac cath lab" Level="5">
  <Info>
    <Parent Key="b0e6f1c5-7d2a-8e3f-9c0d-5a7b0e3f6c1d">Event Location</Parent>
    <Path>/Home/Config/LookupItems/Event Location/Cardiac cath lab</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Cardiac cath lab" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[4]]></Value>
    </lookupValue>
  </Properties>
</Content>

