<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6e2f7c1-3d8a-4e9b-5c6d-1a3b6e9c2f7d" Alias="Dialysis unit" Level="5">
  <Info>
    <Parent Key="b0e6f1c5-7d2a-8e3f-9c0d-5a7b0e3f6c1d">Event Location</Parent>
    <Path>/Home/Config/LookupItems/Event Location/Dialysis unit</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Dialysis unit" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[6]]></Value>
    </lookupValue>
  </Properties>
</Content>
