<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2a8b3e7-9f4c-0a5d-1e2f-7c9d2a5b8e3f" Alias="Ambulatory surgery" Level="5">
  <Info>
    <Parent Key="b0e6f1c5-7d2a-8e3f-9c0d-5a7b0e3f6c1d">Event Location</Parent>
    <Path>/Home/Config/LookupItems/Event Location/Ambulatory surgery</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Ambulatory surgery" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[2]]></Value>
    </lookupValue>
  </Properties>
</Content>

