<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8e4f9c3-5d0a-4f2b-9e7f-3d6c8b0f4e2a" Alias="7AM - 3PM" Level="5">
  <Info>
    <Parent Key="a7f3e8d2-4b9c-4e1a-8f6d-2c5b7a9e3f1d">Event Time</Parent>
    <Path>/Home/Config/LookupItems/Event Time/7AM - 3PM</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="7AM - 3PM" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[1]]></Value>
    </lookupValue>
  </Properties>
</Content>

