<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7d3e8b2-4c9f-5d0a-6b7c-2f4a7d0b3e8c" Alias="Pediatric care" Level="5">
  <Info>
    <Parent Key="b0e6f1c5-7d2a-8e3f-9c0d-5a7b0e3f6c1d">Event Location</Parent>
    <Path>/Home/Config/LookupItems/Event Location/Pediatric care</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Pediatric care" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[17]]></Value>
    </lookupValue>
  </Properties>
</Content>
