<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2e8f3c7-9d4a-0e5b-1c2d-7a9b2e5c8f3d" Alias="NICU/PICU" Level="5">
  <Info>
    <Parent Key="b0e6f1c5-7d2a-8e3f-9c0d-5a7b0e3f6c1d">Event Location</Parent>
    <Path>/Home/Config/LookupItems/Event Location/NICU/PICU</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="NICU/PICU" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[12]]></Value>
    </lookupValue>
  </Properties>
</Content>
