<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6c2d7a1-3b8e-4c9f-5a6b-1e3f6c9a2d7b" Alias="PACU/Recovery" Level="5">
  <Info>
    <Parent Key="b0e6f1c5-7d2a-8e3f-9c0d-5a7b0e3f6c1d">Event Location</Parent>
    <Path>/Home/Config/LookupItems/Event Location/PACU/Recovery</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="PACU/Recovery" />
    <SortOrder>15</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[16]]></Value>
    </lookupValue>
  </Properties>
</Content>
