<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3f9a4d8-0e5b-1f6c-2d3e-8b0c3f6d9a4e" Alias="OB/Gyn" Level="5">
  <Info>
    <Parent Key="b0e6f1c5-7d2a-8e3f-9c0d-5a7b0e3f6c1d">Event Location</Parent>
    <Path>/Home/Config/LookupItems/Event Location/OB/Gyn</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="OB/Gyn" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[13]]></Value>
    </lookupValue>
  </Properties>
</Content>
