<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1d7e2b6-8c3f-9d4a-0b1c-6f8a1d4b7e2c" Alias="In transit" Level="5">
  <Info>
    <Parent Key="b0e6f1c5-7d2a-8e3f-9c0d-5a7b0e3f6c1d">Event Location</Parent>
    <Path>/Home/Config/LookupItems/Event Location/In transit</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="In transit" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[11]]></Value>
    </lookupValue>
  </Properties>
</Content>
