<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0a6b1e5-7f2c-6a4d-1a9b-5f8e0d2a6f4c" Alias="11PM - 7AM" Level="5">
  <Info>
    <Parent Key="a7f3e8d2-4b9c-4e1a-8f6d-2c5b7a9e3f1d">Event Time</Parent>
    <Path>/Home/Config/LookupItems/Event Time/11PM - 7AM</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="11PM - 7AM" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[3]]></Value>
    </lookupValue>
  </Properties>
</Content>

