<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8a4b9e3-5f0c-6a1d-7e8f-3c5d8a1e4b9f" Alias="Endoscopy suite" Level="5">
  <Info>
    <Parent Key="b0e6f1c5-7d2a-8e3f-9c0d-5a7b0e3f6c1d">Event Location</Parent>
    <Path>/Home/Config/LookupItems/Event Location/Endoscopy suite</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Endoscopy suite" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[8]]></Value>
    </lookupValue>
  </Properties>
</Content>
