<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8e4f9c3-5d0a-6e1b-7c8d-3a5b8e1c4f9d" Alias="Radiology" Level="5">
  <Info>
    <Parent Key="b0e6f1c5-7d2a-8e3f-9c0d-5a7b0e3f6c1d">Event Location</Parent>
    <Path>/Home/Config/LookupItems/Event Location/Radiology</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Radiology" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[18]]></Value>
    </lookupValue>
  </Properties>
</Content>
