<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9f5a0d4-6e1b-5f3c-0f8a-4e7d9c1f5e3b" Alias="3PM - 11PM" Level="5">
  <Info>
    <Parent Key="a7f3e8d2-4b9c-4e1a-8f6d-2c5b7a9e3f1d">Event Time</Parent>
    <Path>/Home/Config/LookupItems/Event Time/3PM - 11PM</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="3PM - 11PM" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[2]]></Value>
    </lookupValue>
  </Properties>
</Content>

