<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2c8d3a7-9b4e-5f6a-0c1d-7e9f2b5c8a3f" Alias="Death" Level="5">
  <Info>
    <Parent Key="e1b7c2f6-8a3d-4e5f-9b0c-6d8e1a4f7b2e">Injury Severity</Parent>
    <Path>/Home/Config/LookupItems/Injury Severity/Death</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Death" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[1]]></Value>
    </lookupValue>
  </Properties>
</Content>

