<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6a2b7e1-3f8c-9d0e-4a5b-1c3d6a9b2e7f" Alias="Reach but No Harm" Level="5">
  <Info>
    <Parent Key="e1b7c2f6-8a3d-4e5f-9b0c-6d8e1a4f7b2e">Injury Severity</Parent>
    <Path>/Home/Config/LookupItems/Injury Severity/Reach but No Harm</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Reach but No Harm" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[5]]></Value>
    </lookupValue>
  </Properties>
</Content>

