<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5f1a6d0-2e7b-8c9d-3f4a-0b2c5f8a1d6e" Alias="Error but No Reach" Level="5">
  <Info>
    <Parent Key="e1b7c2f6-8a3d-4e5f-9b0c-6d8e1a4f7b2e">Injury Severity</Parent>
    <Path>/Home/Config/LookupItems/Injury Severity/Error but No Reach</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Error but No Reach" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[4]]></Value>
    </lookupValue>
  </Properties>
</Content>

