<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8c4d9a3-5b0e-1f2a-6c7d-3e5f8c1d4a9b" Alias="Treatment Required" Level="5">
  <Info>
    <Parent Key="e1b7c2f6-8a3d-4e5f-9b0c-6d8e1a4f7b2e">Injury Severity</Parent>
    <Path>/Home/Config/LookupItems/Injury Severity/Treatment Required</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Treatment Required" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[7]]></Value>
    </lookupValue>
  </Properties>
</Content>

