<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9d5e0b4-6c1f-2a3b-7d8e-4f6a9d2e5b0c" Alias="Longer Stay Required" Level="5">
  <Info>
    <Parent Key="e1b7c2f6-8a3d-4e5f-9b0c-6d8e1a4f7b2e">Injury Severity</Parent>
    <Path>/Home/Config/LookupItems/Injury Severity/Longer Stay Required</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Longer Stay Required" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[8]]></Value>
    </lookupValue>
  </Properties>
</Content>

