<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5d2a7b1-4f8e-9c3d-6a0b-2e5c8d1a4f7b" Alias="Visitor" Level="5">
  <Info>
    <Parent Key="e1f8c3d7-0b4a-5e9f-2c6d-8a1e4f7c0d3b">Patient Type</Parent>
    <Path>/Home/Config/LookupItems/Patient Type/Visitor</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Visitor" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[4]]></Value>
    </lookupValue>
  </Properties>
</Content>
