<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8c5e1b4-7d0a-2f6c-9e3b-5a8c1f4b7e0a" Alias="Multiple" Level="5">
  <Info>
    <Parent Key="a3d0f6c9-2e5b-7a1d-4f8c-0b3d6a9c2f5d">Patient Race</Parent>
    <Path>/Home/Config/LookupItems/Patient Race/Multiple</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Multiple" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[5]]></Value>
    </lookupValue>
  </Properties>
</Content>
