<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6f3c8a2-5b9e-0f4d-7c1a-3e6f9c2d5b8e" Alias="13-18 years" Level="5">
  <Info>
    <Parent Key="f2b9e4c8-1d5a-6a0b-3e7f-9c2f6b9e2d4c">Patient Age</Parent>
    <Path>/Home/Config/LookupItems/Patient Age/13-18 years</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="13-18 years" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[4]]></Value>
    </lookupValue>
  </Properties>
</Content>
