<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8b1c5f9-2d6a-3b8c-0f5d-7c1a4b7f0d3a" Alias="Somali" Level="5">
  <Info>
    <Parent Key="d5e8f2c6-9a3d-0e5f-7c2a-4f8d1e4c7a0d">Patient Language</Parent>
    <Path>/Home/Config/LookupItems/Patient Language/Somali</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Somali" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[3]]></Value>
    </lookupValue>
  </Properties>
</Content>
