<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4e1a7d0-3f6c-8b2e-5a9d-1c4e7b0d3a6c" Alias="American Indian/Alaska Native" Level="5">
  <Info>
    <Parent Key="a3d0f6c9-2e5b-7a1d-4f8c-0b3d6a9c2f5d">Patient Race</Parent>
    <Path>/Home/Config/LookupItems/Patient Race/American Indian/Alaska Native</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="American Indian/Alaska Native" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[1]]></Value>
    </lookupValue>
  </Properties>
</Content>
