<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8f1a5d9-2b6e-3f8a-0d5b-7a1e4f7d0b3e" Alias="Nepali" Level="5">
  <Info>
    <Parent Key="d5e8f2c6-9a3d-0e5f-7c2a-4f8d1e4c7a0d">Patient Language</Parent>
    <Path>/Home/Config/LookupItems/Patient Language/Nepali</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Nepali" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[13]]></Value>
    </lookupValue>
  </Properties>
</Content>
