<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1e8b3f7-0a4d-5e9c-2b6f-8d1e4b7c0a3d" Alias=">85 years" Level="5">
  <Info>
    <Parent Key="f2b9e4c8-1d5a-6a0b-3e7f-9c2f6b9e2d4c">Patient Age</Parent>
    <Path>/Home/Config/LookupItems/Patient Age/>85 years</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default=">85 years" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[9]]></Value>
    </lookupValue>
  </Properties>
</Content>
