<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4c7e1b5-8d0a-2f6c-9e3b-5a8f1c4b7e0a" Alias="Unknown" Level="5">
  <Info>
    <Parent Key="c1f4b8e2-5a7d-9c3f-6b0e-2d5c8f1e4b7d">Patient Ethnicity</Parent>
    <Path>/Home/Config/LookupItems/Patient Ethnicity/Unknown</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Unknown" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[3]]></Value>
    </lookupValue>
  </Properties>
</Content>
