<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7e0f4c8-1a5d-2e7f-9c4a-6f0d3e6c9a2d" Alias="Khmer" Level="5">
  <Info>
    <Parent Key="d5e8f2c6-9a3d-0e5f-7c2a-4f8d1e4c7a0d">Patient Language</Parent>
    <Path>/Home/Config/LookupItems/Patient Language/Khmer</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Khmer" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[12]]></Value>
    </lookupValue>
  </Properties>
</Content>
