<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5f2b8e1-4a7d-9c3f-6b0e-2d5f8c1e4b7d" Alias="Asian" Level="5">
  <Info>
    <Parent Key="a3d0f6c9-2e5b-7a1d-4f8c-0b3d6a9c2f5d">Patient Race</Parent>
    <Path>/Home/Config/LookupItems/Patient Race/Asian</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Asian" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[2]]></Value>
    </lookupValue>
  </Properties>
</Content>
