<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1f4b8e2-5a7d-9c3f-6b0e-2d5c8f1e4b7d" Alias="Patient Ethnicity" Level="4">
  <Info>
    <Parent Key="9be72476-19a5-4e57-a3e6-f433bcdec4c8">Lookup Items</Parent>
    <Path>/Home/Config/LookupItems/Patient Ethnicity</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItemFolder</ContentType>
    <CreateDate>2025-10-03T08:28:25</CreateDate>
    <NodeName Default="Patient Ethnicity" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>

