<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3b6d0a4-7c9f-1e5b-8d2a-4f7e0b3a6d9f" Alias="Not Hispanic or Latino" Level="5">
  <Info>
    <Parent Key="c1f4b8e2-5a7d-9c3f-6b0e-2d5c8f1e4b7d">Patient Ethnicity</Parent>
    <Path>/Home/Config/LookupItems/Patient Ethnicity/Not Hispanic or Latino</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Not Hispanic or Latino" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[2]]></Value>
    </lookupValue>
  </Properties>
</Content>
