<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7a4d9b3-6c0f-1a5e-8d2b-4f7a0d3e6c9f" Alias="19-39 years" Level="5">
  <Info>
    <Parent Key="f2b9e4c8-1d5a-6a0b-3e7f-9c2f6b9e2d4c">Patient Age</Parent>
    <Path>/Home/Config/LookupItems/Patient Age/19-39 years</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="19-39 years" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[5]]></Value>
    </lookupValue>
  </Properties>
</Content>
