<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2a5c9f3-6b8e-0d4a-7c1f-3e6d9a2f5c8e" Alias="Hispanic or Latino" Level="5">
  <Info>
    <Parent Key="c1f4b8e2-5a7d-9c3f-6b0e-2d5c8f1e4b7d">Patient Ethnicity</Parent>
    <Path>/Home/Config/LookupItems/Patient Ethnicity/Hispanic or Latino</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Hispanic or Latino" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[1]]></Value>
    </lookupValue>
  </Properties>
</Content>
