<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0e7a3d6-9f2c-4b8e-1a5d-7c0e3b6d9a2c" Alias="Other" Level="5">
  <Info>
    <Parent Key="a3d0f6c9-2e5b-7a1d-4f8c-0b3d6a9c2f5d">Patient Race</Parent>
    <Path>/Home/Config/LookupItems/Patient Race/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[7]]></Value>
    </lookupValue>
  </Properties>
</Content>
