<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4d1a6e0-3f7c-8d2b-5a9e-1c4d7a0b3f6c" Alias="28 days-2 years" Level="5">
  <Info>
    <Parent Key="f2b9e4c8-1d5a-6a0b-3e7f-9c2f6b9e2d4c">Patient Age</Parent>
    <Path>/Home/Config/LookupItems/Patient Age/28 days-2 years</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="28 days-2 years" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[2]]></Value>
    </lookupValue>
  </Properties>
</Content>
