<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5c8d2a6-9e3b-0c5d-7a2e-4d8b1c4a7e0b" Alias="American Sign Language" Level="5">
  <Info>
    <Parent Key="d5e8f2c6-9a3d-0e5f-7c2a-4f8d1e4c7a0d">Patient Language</Parent>
    <Path>/Home/Config/LookupItems/Patient Language/American Sign Language</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="American Sign Language" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[10]]></Value>
    </lookupValue>
  </Properties>
</Content>
