<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7a0b4e8-1c5f-2a7b-9e4c-6b0f3a6e9c2f" Alias="Spanish" Level="5">
  <Info>
    <Parent Key="d5e8f2c6-9a3d-0e5f-7c2a-4f8d1e4c7a0d">Patient Language</Parent>
    <Path>/Home/Config/LookupItems/Patient Language/Spanish</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Spanish" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[2]]></Value>
    </lookupValue>
  </Properties>
</Content>
