<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3b0e5f9-2d6c-7a1b-4e8f-0c3a6b9e2d5f" Alias="Outpatient" Level="5">
  <Info>
    <Parent Key="e1f8c3d7-0b4a-5e9f-2c6d-8a1e4f7c0d3b">Patient Type</Parent>
    <Path>/Home/Config/LookupItems/Patient Type/Outpatient</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Outpatient" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[2]]></Value>
    </lookupValue>
  </Properties>
</Content>
