<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8b5e0c4-7d1a-2b6f-9e3c-5a8b1e4f7d0a" Alias="40-64 years" Level="5">
  <Info>
    <Parent Key="f2b9e4c8-1d5a-6a0b-3e7f-9c2f6b9e2d4c">Patient Age</Parent>
    <Path>/Home/Config/LookupItems/Patient Age/40-64 years</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="40-64 years" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[6]]></Value>
    </lookupValue>
  </Properties>
</Content>
