<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9a2b6e0-3c7f-4a9b-1e6c-8b2f5a8e1c4f" Alias="Other" Level="5">
  <Info>
    <Parent Key="d5e8f2c6-9a3d-0e5f-7c2a-4f8d1e4c7a0d">Patient Language</Parent>
    <Path>/Home/Config/LookupItems/Patient Language/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[14]]></Value>
    </lookupValue>
  </Properties>
</Content>
