<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2a9d4e8-1c5b-6f0a-3d7e-9b2f5a8d1c4e" Alias="Inpatient" Level="5">
  <Info>
    <Parent Key="e1f8c3d7-0b4a-5e9f-2c6d-8a1e4f7c0d3b">Patient Type</Parent>
    <Path>/Home/Config/LookupItems/Patient Type/Inpatient</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Inpatient" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[1]]></Value>
    </lookupValue>
  </Properties>
</Content>
