<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7f4c9d3-6b0a-1e5f-8c2d-4a7e0f3c6b9d" Alias="Swing Beds" Level="5">
  <Info>
    <Parent Key="e1f8c3d7-0b4a-5e9f-2c6d-8a1e4f7c0d3b">Patient Type</Parent>
    <Path>/Home/Config/LookupItems/Patient Type/Swing Beds</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Swing Beds" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[6]]></Value>
    </lookupValue>
  </Properties>
</Content>
