<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6a3c9f2-5b8e-0d4a-7c1f-3e6a9d2f5c8e" Alias="Black or African American" Level="5">
  <Info>
    <Parent Key="a3d0f6c9-2e5b-7a1d-4f8c-0b3d6a9c2f5d">Patient Race</Parent>
    <Path>/Home/Config/LookupItems/Patient Race/Black or African American</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Black or African American" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[3]]></Value>
    </lookupValue>
  </Properties>
</Content>
