<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3a6b0e4-7c1f-8a3b-5e0c-2b6f9a2e5c8f" Alias="Oromo" Level="5">
  <Info>
    <Parent Key="d5e8f2c6-9a3d-0e5f-7c2a-4f8d1e4c7a0d">Patient Language</Parent>
    <Path>/Home/Config/LookupItems/Patient Language/Oromo</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Oromo" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[8]]></Value>
    </lookupValue>
  </Properties>
</Content>
