<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1e4f8c2-5a9d-6e1f-3c8a-0f4d7e0c3a6d" Alias="Vietnamese" Level="5">
  <Info>
    <Parent Key="d5e8f2c6-9a3d-0e5f-7c2a-4f8d1e4c7a0d">Patient Language</Parent>
    <Path>/Home/Config/LookupItems/Patient Language/Vietnamese</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Vietnamese" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[6]]></Value>
    </lookupValue>
  </Properties>
</Content>
