<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5f6a7b8-c9d0-1234-5678-901234efghij" Alias="incontinence-associated" Level="5">
  <Info>
    <Parent Key="f8e9d7c6-b5a4-4321-9876-543210fedcba">abnormality-type</Parent>
    <Path>/Home/Config/LookupItems/abnormality-type/incontinence-associated</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2024-01-15T10:35:00</CreateDate>
    <NodeName Default="Incontinence associated" />
  </Info>
  <Properties>
    <lookupValue>
      <Value><![CDATA[5]]></Value>
    </lookupValue>
  </Properties>
</Content>

