<?xml version="1.0" encoding="utf-8"?>
<Content Key="49d6f047-5ee2-4e35-aad9-a1733bc27bc4" Alias="procedure-type-cardiac" Level="5">
  <Info>
    <Parent Key="c85b23f5-9fb4-4c6d-a984-e51eb86782f9">procedure-type</Parent>
    <Path>/Home/Config/LookupItems/procedure-type/procedure-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Cardiac" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>1</Value></lookupValue>
  </Properties>
</Content>