<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab93673b-5ab8-400e-b1a2-c04bfd4b57cc" Alias="procedure-type-dental" Level="5">
  <Info>
    <Parent Key="c85b23f5-9fb4-4c6d-a984-e51eb86782f9">procedure-type</Parent>
    <Path>/Home/Config/LookupItems/procedure-type/procedure-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Dental" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>11</Value></lookupValue>
  </Properties>
</Content>