<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce7686b8-f0e6-4b3c-a88f-251ee2501680" Alias="procedure-type-general" Level="5">
  <Info>
    <Parent Key="c85b23f5-9fb4-4c6d-a984-e51eb86782f9">procedure-type</Parent>
    <Path>/Home/Config/LookupItems/procedure-type/procedure-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="General" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[7]]></lookupValue>
  </Properties>
</Content>