<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb5c8762-98a6-40d9-8ba1-2b85fe678bae" Alias="procedure-type-neuro-excludes-spine" Level="5">
  <Info>
    <Parent Key="c85b23f5-9fb4-4c6d-a984-e51eb86782f9">procedure-type</Parent>
    <Path>/Home/Config/LookupItems/procedure-type/procedure-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Neuro (excludes spine)" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>9</Value></lookupValue>
  </Properties>
</Content>