<?xml version="1.0" encoding="utf-8"?>
<Content Key="17378ce9-227a-4d36-ab2f-352ed490539e" Alias="procedure-type-ortho-excludes-spine" Level="5">
  <Info>
    <Parent Key="c85b23f5-9fb4-4c6d-a984-e51eb86782f9">procedure-type</Parent>
    <Path>/Home/Config/LookupItems/procedure-type/procedure-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Ortho (excludes spine)" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[3]]></lookupValue>
  </Properties>
</Content>