<?xml version="1.0" encoding="utf-8"?>
<Content Key="370ad92a-13a7-4c4d-b202-62e865ad9609" Alias="procedure-type-spine-includes-ortho-neuro-and-injections" Level="5">
  <Info>
    <Parent Key="c85b23f5-9fb4-4c6d-a984-e51eb86782f9">procedure-type</Parent>
    <Path>/Home/Config/LookupItems/procedure-type/procedure-type</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Spine (includes ortho, neuro and injections)" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[13]]></Value></lookupValue>
  </Properties>
</Content>