<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a946e7e-d6d9-4bfa-9df7-77642a3d35d8" Alias="training-education-subcategory-adequate-supervision-support-not-provided" Level="5">
  <Info>
    <Parent Key="abeacbc2-1691-417b-b637-522a89a28458">training-education-subcategory</Parent>
    <Path>/Home/Config/LookupItems/training-education-subcategory/training-education-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Adequate supervision/support not provided" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[33]]></Value></lookupValue>
  </Properties>
</Content>