<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6434b95-66da-4c5b-9afa-56971882e911" Alias="training-education-subcategory-other" Level="5">
  <Info>
    <Parent Key="abeacbc2-1691-417b-b637-522a89a28458">training-education-subcategory</Parent>
    <Path>/Home/Config/LookupItems/training-education-subcategory/training-education-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>36</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>36</Value></lookupValue>
  </Properties>
</Content>