<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0ac637f-4d31-4a1b-8fd7-8c460e255e3a" Alias="training-education-subcategory-patient-family-education-not-conducted" Level="5">
  <Info>
    <Parent Key="abeacbc2-1691-417b-b637-522a89a28458">training-education-subcategory</Parent>
    <Path>/Home/Config/LookupItems/training-education-subcategory/training-education-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Patient/family education not conducted" />
    <SortOrder>34</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>34</Value></lookupValue>
  </Properties>
</Content>