<?xml version="1.0" encoding="utf-8"?>
<Content Key="b37aff83-6206-4076-b682-3410c1677dff" Alias="training-education-subcategory-staff-not-qualified-competent" Level="5">
  <Info>
    <Parent Key="abeacbc2-1691-417b-b637-522a89a28458">training-education-subcategory</Parent>
    <Path>/Home/Config/LookupItems/training-education-subcategory/training-education-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Staff not qualified/competent" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[32]]></Value></lookupValue>
  </Properties>
</Content>