<?xml version="1.0" encoding="utf-8"?>
<Content Key="f801de30-9796-4f88-bc25-36faef776eef" Alias="training-education-subcategory-staff-training-inadequate-incomplete" Level="5">
  <Info>
    <Parent Key="abeacbc2-1691-417b-b637-522a89a28458">training-education-subcategory</Parent>
    <Path>/Home/Config/LookupItems/training-education-subcategory/training-education-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Staff training inadequate/incomplete" />
    <SortOrder>30</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>30</Value></lookupValue>
  </Properties>
</Content>