<?xml version="1.0" encoding="utf-8"?>
<Content Key="310152c0-2c44-4f4e-8155-067159f4f631" Alias="training-education-subcategory-staff-training-not-up-to-date-with-current-standards-eg-annual-training-and-competencies" Level="5">
  <Info>
    <Parent Key="abeacbc2-1691-417b-b637-522a89a28458">training-education-subcategory</Parent>
    <Path>/Home/Config/LookupItems/training-education-subcategory/training-education-subcategory</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Staff training not up-to-date with current standards (e.g., annual training and competencies)" />
    <SortOrder>31</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>31</Value></lookupValue>
  </Properties>
</Content>