<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b3e7416-b02d-4080-ae66-f62944b92f46" Alias="procedure-category-bedside-procedure" Level="5">
  <Info>
    <Parent Key="a438b819-0c9a-4fd8-a120-007f1b4c86f9">procedure-category</Parent>
    <Path>/Home/Config/LookupItems/procedure-category/procedure-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Bedside Procedure" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[4]]></Value></lookupValue>
  </Properties>
</Content>