<?xml version="1.0" encoding="utf-8"?>
<Content Key="caf967ba-3535-4c93-a87a-45b0bf0d45ba" Alias="procedure-category-cath-lab" Level="5">
  <Info>
    <Parent Key="a438b819-0c9a-4fd8-a120-007f1b4c86f9">procedure-category</Parent>
    <Path>/Home/Config/LookupItems/procedure-category/procedure-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Cath Lab" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[5]]></Value></lookupValue>
  </Properties>
</Content>