<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6987bcb-8166-4a87-b30b-97505fd47b03" Alias="procedure-category-other" Level="5">
  <Info>
    <Parent Key="a438b819-0c9a-4fd8-a120-007f1b4c86f9">procedure-category</Parent>
    <Path>/Home/Config/LookupItems/procedure-category/procedure-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value>7</Value></lookupValue>
  </Properties>
</Content>