<?xml version="1.0" encoding="utf-8"?>
<Content Key="eea5f49c-4dcf-446f-a1ab-fb48f3b67956" Alias="procedure-category-radiology" Level="5">
  <Info>
    <Parent Key="a438b819-0c9a-4fd8-a120-007f1b4c86f9">procedure-category</Parent>
    <Path>/Home/Config/LookupItems/procedure-category/procedure-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Radiology" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[2]]></lookupValue>
  </Properties>
</Content>