<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ac27dc5-12c0-44b9-8aab-5a697261fdc3" Alias="procedure-category-surgical-procedure" Level="5">
  <Info>
    <Parent Key="a438b819-0c9a-4fd8-a120-007f1b4c86f9">procedure-category</Parent>
    <Path>/Home/Config/LookupItems/procedure-category/procedure-category</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Surgical Procedure" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[1]]></lookupValue>
  </Properties>
</Content>