<?xml version="1.0" encoding="utf-8"?>
<Content Key="9516e15e-1a5e-4688-acf8-f4e88ca4d510" Alias="specimen-loss-reason-communication" Level="5">
  <Info>
    <Parent Key="17594f52-f230-427d-a9ac-d7b42f6dea49">specimen-loss-reason</Parent>
    <Path>/Home/Config/LookupItems/specimen-loss-reason/specimen-loss-reason</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Communication" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[1]]></lookupValue>
  </Properties>
</Content>