<?xml version="1.0" encoding="utf-8"?>
<Content Key="e995d621-d021-447e-80b6-b856ad0d75a9" Alias="specimen-loss-reason-human-factors" Level="5">
  <Info>
    <Parent Key="17594f52-f230-427d-a9ac-d7b42f6dea49">specimen-loss-reason</Parent>
    <Path>/Home/Config/LookupItems/specimen-loss-reason/specimen-loss-reason</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Human factors" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><Value><![CDATA[2]]></Value></lookupValue>
  </Properties>
</Content>