<?xml version="1.0" encoding="utf-8"?>
<Content Key="850b923c-e716-4e12-ac2a-ffbc06dc07fc" Alias="specimen-loss-reason-process-failure" Level="5">
  <Info>
    <Parent Key="17594f52-f230-427d-a9ac-d7b42f6dea49">specimen-loss-reason</Parent>
    <Path>/Home/Config/LookupItems/specimen-loss-reason/specimen-loss-reason</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Process failure" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    </Info>
  <Properties>
    <lookupValue><Value>3</Value></lookupValue>
  </Properties>
</Content>