<?xml version="1.0" encoding="utf-8"?>
<Content Key="38e8670c-9363-4a79-98d5-a1526f0589b6" Alias="specimen-loss-reason-production-pressure" Level="5">
  <Info>
    <Parent Key="17594f52-f230-427d-a9ac-d7b42f6dea49">specimen-loss-reason</Parent>
    <Path>/Home/Config/LookupItems/specimen-loss-reason/specimen-loss-reason</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-10-03T08:32:47</CreateDate>
    <NodeName Default="Production pressure" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <lookupValue><![CDATA[4]]></lookupValue>
  </Properties>
</Content>